node-red/vibration-plus-dashboard.json
[{"id":"e723ddb71f1f6766","type":"subflow","name":"vibration plus","info":"","category":"","in":[{"x":100,"y":800,"wires":[{"id":"f7c17f43e7afccbd"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"node-red/bridge-dash.svg","status":{"x":1700,"y":720,"wires":[{"id":"1b8db10903848482","port":0},{"id":"31b0139b1df7ba41","port":0},{"id":"cfb17c8e7aff52da","port":0}]}},{"id":"be97f2170ed0692e","type":"link out","z":"e723ddb71f1f6766","name":"link out 82","mode":"link","links":["d83c955235f076f9","67de2dfc8c228de6"],"x":2445,"y":960,"wires":[]},{"id":"6c342927cac3abd6","type":"link out","z":"e723ddb71f1f6766","name":"link out 83","mode":"link","links":["67de2dfc8c228de6","a25ae91a62bae12d","d83c955235f076f9","ca2d38ecbdf2ae41","cd8d25178cd83222","92705b3727b2b342","bc6ab5c5cc44163c","218bfc80645df5f8","87a4313d33139b34","ef1f5cd7dc036577","5c0c3d7604298284","7c20bf422213cb07","802f6856026f6dd9","7761cf6493bbd7a3"],"x":2405,"y":800,"wires":[]},{"id":"2ab9a13bb4c96e34","type":"link out","z":"e723ddb71f1f6766","name":"toGraphs","mode":"link","links":["cd8d25178cd83222","92705b3727b2b342","bc6ab5c5cc44163c","218bfc80645df5f8","87a4313d33139b34","ef1f5cd7dc036577","5c0c3d7604298284","7c20bf422213cb07","802f6856026f6dd9","7761cf6493bbd7a3","a25ae91a62bae12d"],"x":2595,"y":1040,"wires":[]},{"id":"b2a99f995d67b56a","type":"file in","z":"e723ddb71f1f6766","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1955,"y":1000,"wires":[["ac5a129c87400297"]],"l":false},{"id":"ac5a129c87400297","type":"csv","z":"e723ddb71f1f6766","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2015,"y":1000,"wires":[["ab4cf05a9b24e9d9"]],"l":false},{"id":"aa1f6bd3c8918ffb","type":"change","z":"e723ddb71f1f6766","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":820,"wires":[["faea2e9177818803"]]},{"id":"0d17fc065435f83c","type":"csv","z":"e723ddb71f1f6766","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1495,"y":780,"wires":[["52e9427b3c593b84"]],"l":false},{"id":"52e9427b3c593b84","type":"file","z":"e723ddb71f1f6766","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1545,"y":780,"wires":[["0514467fd243dff3","cfb17c8e7aff52da"]],"l":false},{"id":"0514467fd243dff3","type":"function","z":"e723ddb71f1f6766","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = context.get(\"vpcountMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"vpMAC[\"+index+\"]\"); // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"vpMAC[\"+count+\"]\", newMAC); // Save array [MAC, TYPE]\ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \ncontext.set(\"vpcountMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":800,"wires":[["e78c37484152c61d","b88f3343f40387b7"]]},{"id":"e78c37484152c61d","type":"function","z":"e723ddb71f1f6766","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"vpMAC[\"+index+\"]\");\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":820,"wires":[["7017745e4e228700","2e69d542a443d1d2"]]},{"id":"b7637bf135018acb","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1080,"wires":[["e721429f6adda9f3"]]},{"id":"2e69d542a443d1d2","type":"switch","z":"e723ddb71f1f6766","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"vpmacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2220,"y":820,"wires":[["716487fcc5632339"]]},{"id":"8e0c3536f431f3eb","type":"change","z":"e723ddb71f1f6766","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":1040,"wires":[["8d016f5e4bb68748"]]},{"id":"8d016f5e4bb68748","type":"json","z":"e723ddb71f1f6766","name":"json object","property":"payload.data","action":"","pretty":false,"x":2395,"y":1040,"wires":[["3d748b051f38a5af"]],"l":false},{"id":"3d748b051f38a5af","type":"function","z":"e723ddb71f1f6766","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2490,"y":1040,"wires":[["2ab9a13bb4c96e34"]]},{"id":"faea2e9177818803","type":"switch","z":"e723ddb71f1f6766","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1040,"y":820,"wires":[["1b8db10903848482"],["7fe6aee15784a5c1"],["7f0736946ffb1cc0"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"7fe6aee15784a5c1","type":"function","z":"e723ddb71f1f6766","name":"buildFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":820,"wires":[["0d17fc065435f83c"]]},{"id":"7f0736946ffb1cc0","type":"function","z":"e723ddb71f1f6766","name":"buildFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":860,"wires":[["0d17fc065435f83c"]]},{"id":"e721429f6adda9f3","type":"switch","z":"e723ddb71f1f6766","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1520,"y":1080,"wires":[["8b8b79d353a1acd4"],["14a6092421ff85e2"]]},{"id":"8b8b79d353a1acd4","type":"function","z":"e723ddb71f1f6766","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":1060,"wires":[["dfdb0b7bc0ab7d6e"]]},{"id":"14a6092421ff85e2","type":"function","z":"e723ddb71f1f6766","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":1100,"wires":[["dfdb0b7bc0ab7d6e"]]},{"id":"22782b2f289074e1","type":"catch","z":"e723ddb71f1f6766","name":"","scope":["52e9427b3c593b84","b2a99f995d67b56a"],"uncaught":false,"x":1555,"y":700,"wires":[["1b8db10903848482"]],"l":false},{"id":"1b8db10903848482","type":"function","z":"e723ddb71f1f6766","name":"function 42","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1625,"y":720,"wires":[[]],"l":false},{"id":"cfb17c8e7aff52da","type":"function","z":"e723ddb71f1f6766","name":"function 43","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1625,"y":760,"wires":[[]],"l":false},{"id":"3ebedbbc7a079962","type":"switch","z":"e723ddb71f1f6766","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":610,"y":780,"wires":[["1cfd81063a7fd2a6"],["aa1f6bd3c8918ffb"]],"outputLabels":["defaultPath","userPath"]},{"id":"8d7edc969f286268","type":"change","z":"e723ddb71f1f6766","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":720,"wires":[["d63a37047c99ea4b"]]},{"id":"84fcc6427d6a3963","type":"change","z":"e723ddb71f1f6766","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":760,"wires":[["b5c5d881bb05ed7c"]]},{"id":"b5c5d881bb05ed7c","type":"switch","z":"e723ddb71f1f6766","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":760,"wires":[["8db7c178b932be55"]]},{"id":"d63a37047c99ea4b","type":"switch","z":"e723ddb71f1f6766","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":720,"wires":[["6de6dcae29eaa487"]]},{"id":"5dd20ddcb97355ec","type":"change","z":"e723ddb71f1f6766","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[["3ebedbbc7a079962"]]},{"id":"6de6dcae29eaa487","type":"change","z":"e723ddb71f1f6766","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":720,"wires":[["158323eb4de997c5"]]},{"id":"16319d04ff026ff0","type":"function","z":"e723ddb71f1f6766","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":760,"wires":[["0d17fc065435f83c"]]},{"id":"158323eb4de997c5","type":"function","z":"e723ddb71f1f6766","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":720,"wires":[["0d17fc065435f83c"]]},{"id":"8db7c178b932be55","type":"change","z":"e723ddb71f1f6766","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":760,"wires":[["16319d04ff026ff0"]]},{"id":"7fcacc149d901893","type":"switch","z":"e723ddb71f1f6766","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1160,"y":1000,"wires":[["bb639f967298ef72","9713ee14d5c2e33b"],["b7637bf135018acb"]]},{"id":"4cb8f559fa2fdeba","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"vpmacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1000,"wires":[["7fcacc149d901893"]]},{"id":"9713ee14d5c2e33b","type":"change","z":"e723ddb71f1f6766","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":940,"wires":[["8e03d1c9d7af4891"]]},{"id":"bb639f967298ef72","type":"change","z":"e723ddb71f1f6766","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1000,"wires":[["c7d33ad1aefc68ca"]]},{"id":"c7d33ad1aefc68ca","type":"switch","z":"e723ddb71f1f6766","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":1000,"wires":[["d0d1ca842d4375d8"]]},{"id":"8e03d1c9d7af4891","type":"switch","z":"e723ddb71f1f6766","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":940,"wires":[["b22d87efa7f73327"]]},{"id":"a090285da71ef961","type":"function","z":"e723ddb71f1f6766","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":1000,"wires":[["b2a99f995d67b56a"]]},{"id":"503323b6326f7987","type":"function","z":"e723ddb71f1f6766","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":940,"wires":[["b2a99f995d67b56a"]]},{"id":"b22d87efa7f73327","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":940,"wires":[["503323b6326f7987"]]},{"id":"d0d1ca842d4375d8","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1000,"wires":[["a090285da71ef961"]]},{"id":"ab4cf05a9b24e9d9","type":"function","z":"e723ddb71f1f6766","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":1000,"wires":[["de1d4d4011ed65ac","77dc0ba487e5a7cd"],["8e0c3536f431f3eb"]]},{"id":"230187d256ff0ac3","type":"catch","z":"e723ddb71f1f6766","name":"","scope":["8d016f5e4bb68748"],"uncaught":false,"x":2370,"y":760,"wires":[[]]},{"id":"716487fcc5632339","type":"function","z":"e723ddb71f1f6766","name":"function 46","func":"let inspect = flow.get(\"vpInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2355,"y":820,"wires":[["6c342927cac3abd6"],["3dc547f9fb6524b3"]],"l":false},{"id":"de1d4d4011ed65ac","type":"change","z":"e723ddb71f1f6766","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":960,"wires":[["14e205045e4c40cf"]]},{"id":"77dc0ba487e5a7cd","type":"change","z":"e723ddb71f1f6766","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":1000,"wires":[["cb9435b4874bfc36"]]},{"id":"14e205045e4c40cf","type":"json","z":"e723ddb71f1f6766","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2395,"y":960,"wires":[["be97f2170ed0692e"]],"l":false},{"id":"f7c17f43e7afccbd","type":"switch","z":"e723ddb71f1f6766","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"80","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":260,"y":800,"wires":[["5dd20ddcb97355ec"],["9b40397da96e58df"]]},{"id":"9b40397da96e58df","type":"function","z":"e723ddb71f1f6766","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":820,"wires":[["33177fc83678911e"]]},{"id":"33177fc83678911e","type":"link out","z":"e723ddb71f1f6766","name":"link out 85","mode":"link","links":["31b0139b1df7ba41"],"x":565,"y":820,"wires":[]},{"id":"31b0139b1df7ba41","type":"link in","z":"e723ddb71f1f6766","name":"link in 81","links":["33177fc83678911e"],"x":1625,"y":680,"wires":[[]]},{"id":"9b2f188f109f9848","type":"link in","z":"e723ddb71f1f6766","name":"link in 82","links":["99082c0c190b5ae6"],"x":545,"y":1020,"wires":[["a58892670a91136c"]]},{"id":"67a151473f875906","type":"change","z":"e723ddb71f1f6766","name":"clear inspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":945,"y":1040,"wires":[["df6a1ff8d21013da"]],"l":false},{"id":"df6a1ff8d21013da","type":"link out","z":"e723ddb71f1f6766","name":"link out 86","mode":"link","links":["0379d9b1b3621e88","84aa20692709698d","54f0b8d356093249","a090366f505b4d42","53a2da57db107c82"],"x":995,"y":1040,"wires":[]},{"id":"2f3aa7af0b9d5256","type":"function","z":"e723ddb71f1f6766","name":"inspectCheck","func":"var actualMAC = msg.payload;\nvar lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1000,"wires":[["67a151473f875906","4cb8f559fa2fdeba"]]},{"id":"cb9435b4874bfc36","type":"link out","z":"e723ddb71f1f6766","name":"link out 87","mode":"link","links":["ca2d38ecbdf2ae41"],"x":2415,"y":1000,"wires":[]},{"id":"32ce09a6558f110f","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1865,"y":780,"wires":[["dfbe46d145140d76"]],"l":false},{"id":"a58892670a91136c","type":"ui-dropdown","z":"e723ddb71f1f6766","group":"b9af03f313f7022e","name":"","label":"MAC","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":650,"y":1000,"wires":[["2f3aa7af0b9d5256"]]},{"id":"dfbe46d145140d76","type":"ui-notification","z":"e723ddb71f1f6766","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":1970,"y":780,"wires":[]},{"id":"e19647fe1ffd9a2a","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1260,"wires":[["c138af445e6d71ca"]],"l":false},{"id":"54f0b8d356093249","type":"link in","z":"e723ddb71f1f6766","name":"link in 85","links":["df6a1ff8d21013da","3dc547f9fb6524b3"],"x":2675,"y":1440,"wires":[["e19647fe1ffd9a2a","e9a7c0d2c3087b43","4a0df2fd6b0e9512","1cd8933ec5451274","3c3af95ccd6092d5","4d01a7c2f810dcfb","a0b334afef0d0c63","1c539ff92fc95692","b6f4bfbafdf595aa","55fa20697b84f781"]]},{"id":"e9a7c0d2c3087b43","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1300,"wires":[["e6ce105aaf9ef7d3"]],"l":false},{"id":"4a0df2fd6b0e9512","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1340,"wires":[["c626a7205d43c409"]],"l":false},{"id":"1cd8933ec5451274","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1380,"wires":[["a77a45bbe499f11e"]],"l":false},{"id":"3c3af95ccd6092d5","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1420,"wires":[["4fedc8785bb2b74a"]],"l":false},{"id":"4d01a7c2f810dcfb","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1460,"wires":[["db183fddf87e11ab"]],"l":false},{"id":"a0b334afef0d0c63","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1500,"wires":[["bc55a661e82a9a00"]],"l":false},{"id":"1c539ff92fc95692","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1540,"wires":[["8177da99be46b3c4"]],"l":false},{"id":"b6f4bfbafdf595aa","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1580,"wires":[["066a08559f9ec8b8"]],"l":false},{"id":"55fa20697b84f781","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1620,"wires":[["f2c19f31bab754d0"]],"l":false},{"id":"84aa20692709698d","type":"link in","z":"e723ddb71f1f6766","name":"link in 86","links":["df6a1ff8d21013da","3dc547f9fb6524b3"],"x":3035,"y":1660,"wires":[["108c47330641209c","6db4596e2a05cfc1","e5af26782e697c77","3e9679ec599a5247","898f559391110a79","4237ef522dfdccef","d70c619a82260977","87efa931a553911f","a3b9b4229bfec4b3","1f2cfbf68f47c7bb","d1b35b47661f01c8","bbca860fc3b89742","4f69b4a116fde8e5","01bac7f2b52b39e7"]]},{"id":"0822ebec139411e0","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1260,"wires":[["6127cefac122ebda"]],"l":false},{"id":"a7439405d947d0a6","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1340,"wires":[["d3b01129747dd7d7"]],"l":false},{"id":"389003982168aa67","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1380,"wires":[["78114397825b5921"]],"l":false},{"id":"d521ac1c709b385c","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1420,"wires":[["a42ba63cc7479801"]],"l":false},{"id":"fcd7a437977ddcfe","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1460,"wires":[["76bb5f701ad6f23c"]],"l":false},{"id":"205cabe29c523752","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1500,"wires":[["8da0bf580184484c"]],"l":false},{"id":"c8634d3586d42137","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1640,"wires":[["65bacfe257cd15d8"]],"l":false},{"id":"0379d9b1b3621e88","type":"link in","z":"e723ddb71f1f6766","name":"link in 87","links":["df6a1ff8d21013da","3dc547f9fb6524b3"],"x":3435,"y":1460,"wires":[["0822ebec139411e0","a7439405d947d0a6","389003982168aa67","d521ac1c709b385c","fcd7a437977ddcfe","205cabe29c523752","a01f22a39bec5f4f"]]},{"id":"a01f22a39bec5f4f","type":"switch","z":"e723ddb71f1f6766","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3495,"y":1620,"wires":[["1a432cf9508df69a"],["c8634d3586d42137"]],"l":false},{"id":"1a432cf9508df69a","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1600,"wires":[["65bacfe257cd15d8"]],"l":false},{"id":"c138af445e6d71ca","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1260,"wires":[]},{"id":"e6ce105aaf9ef7d3","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1300,"wires":[]},{"id":"c626a7205d43c409","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1340,"wires":[]},{"id":"a77a45bbe499f11e","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1380,"wires":[]},{"id":"4fedc8785bb2b74a","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1420,"wires":[]},{"id":"db183fddf87e11ab","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1460,"wires":[]},{"id":"bc55a661e82a9a00","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1500,"wires":[]},{"id":"8177da99be46b3c4","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1540,"wires":[]},{"id":"066a08559f9ec8b8","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1580,"wires":[]},{"id":"f2c19f31bab754d0","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1620,"wires":[]},{"id":"9eaabcb627fc8b90","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":2850,"y":1220,"wires":[]},{"id":"23d49e38a48e5611","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":12,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3210,"y":1380,"wires":[]},{"id":"bff9a1ee0401b8ff","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":2,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3650,"y":1220,"wires":[]},{"id":"6127cefac122ebda","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":3,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1260,"wires":[]},{"id":"ad7757fb5932b51a","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3680,"y":1300,"wires":[]},{"id":"d3b01129747dd7d7","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":5,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1340,"wires":[]},{"id":"78114397825b5921","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":6,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3640,"y":1380,"wires":[]},{"id":"a42ba63cc7479801","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":7,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1420,"wires":[]},{"id":"76bb5f701ad6f23c","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":8,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3650,"y":1460,"wires":[]},{"id":"8da0bf580184484c","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":9,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1500,"wires":[]},{"id":"65bacfe257cd15d8","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":12,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3680,"y":1640,"wires":[]},{"id":"cd995fe76b2b0f0c","type":"ui-text","z":"e723ddb71f1f6766","group":"779f6a10748fb85a","order":11,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3630,"y":1600,"wires":[]},{"id":"d83c955235f076f9","type":"link in","z":"e723ddb71f1f6766","name":"link in 88","links":["6c342927cac3abd6","be97f2170ed0692e"],"x":3035,"y":720,"wires":[["96ba1817c65ebfe2"]]},{"id":"2c3472391ed3142c","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":840,"wires":[["30e54bf3b7c2109d"]],"l":false},{"id":"30e54bf3b7c2109d","type":"range","z":"e723ddb71f1f6766","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3485,"y":800,"wires":[["7e7aa2f5e3963f8d"]],"l":false},{"id":"ca2d38ecbdf2ae41","type":"link in","z":"e723ddb71f1f6766","name":"link in 89","links":["cb9435b4874bfc36","6c342927cac3abd6"],"x":3375,"y":840,"wires":[["2c3472391ed3142c"]]},{"id":"9769ef4e2ce7fb25","type":"ui-text","z":"e723ddb71f1f6766","group":"57e53bc329feb0c4","order":1,"width":"0","height":"0","name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vpTitlesText","x":3230,"y":680,"wires":[]},{"id":"054d4704fcae331a","type":"ui-gauge","z":"e723ddb71f1f6766","name":"vpTempGauge","group":"57e53bc329feb0c4","order":3,"width":"2","height":"4","gtype":"gauge-34","gstyle":"needle","title":"","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":"40","sizeGap":"10","sizeKeyThickness":"8","styleRounded":true,"styleGlow":false,"className":"vibrationPlusGauge","x":3220,"y":760,"wires":[]},{"id":"2b9c1b68baa15334","type":"ui-template","z":"e723ddb71f1f6766","group":"57e53bc329feb0c4","page":"","ui":"","name":"vpLine","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"vpLine\"></div>\n</template>\n\n<style>\n.vpLine{\n  position: relative;\n  border-left: 1000px solid grey ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: -34px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3250,"y":720,"wires":[[]]},{"id":"792e880f6824728f","type":"ui-text","z":"e723ddb71f1f6766","group":"593b95dea86d9525","order":1,"width":"1","height":"1","name":"","label":"ODR","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vpTitlesText","x":2930,"y":680,"wires":[]},{"id":"41bd6729ae48f0ec","type":"ui-text","z":"e723ddb71f1f6766","group":"71726a4a6977b951","order":2,"width":"4","height":"1","name":"","label":"X - ACC ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3000,"y":920,"wires":[]},{"id":"1042dc6840836998","type":"ui-chart","z":"e723ddb71f1f6766","group":"1cac9879a87f9e1d","name":"vpBatteryChart","label":"","order":4,"chartType":"line","category":"[\"battery\",\"\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"[0].battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#36d2f8","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vibrationPlusBatteryPrecentChart","x":3620,"y":760,"wires":[[]]},{"id":"7e7aa2f5e3963f8d","type":"ui-template","z":"e723ddb71f1f6766","group":"1cac9879a87f9e1d","page":"","ui":"","name":"vpBatteryPercent","order":3,"width":"1","height":"4","head":"","format":"<template>\n    <v-progress-circular class=\"vpCircular\" :rotate=\"180\" bg-color=\"#053a66\" model-value=\"20\" :size=\"180\" :width=\"5\" color=\"#36d2f8\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"white\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div class=\"vpScale\">\n                {{ msg.scale }}%\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.vpCircular{\n    font-size: 30px;\n    font-weight: bold !important;\n    top: -76px !important;\n    left: 0px !important;\n}\n.vpScale{\n    color: #ffffff;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3610,"y":800,"wires":[[]]},{"id":"96ba1817c65ebfe2","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3085,"y":720,"wires":[["054d4704fcae331a"]],"l":false},{"id":"c56a9106c774d5a3","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2835,"y":760,"wires":[["0609d88335cec7d1"]],"l":false},{"id":"67de2dfc8c228de6","type":"link in","z":"e723ddb71f1f6766","name":"link in 90","links":["6c342927cac3abd6","be97f2170ed0692e"],"x":2785,"y":760,"wires":[["c56a9106c774d5a3"]]},{"id":"53a2da57db107c82","type":"link in","z":"e723ddb71f1f6766","name":"link in 93","links":["df6a1ff8d21013da"],"x":3375,"y":680,"wires":[["967976345d4fa6be"]]},{"id":"967976345d4fa6be","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":680,"wires":[["9ead793c8f326ca7","1042dc6840836998","7e7aa2f5e3963f8d"]],"l":false},{"id":"a25ae91a62bae12d","type":"link in","z":"e723ddb71f1f6766","name":"link in 94","links":["6c342927cac3abd6","2ab9a13bb4c96e34"],"x":3375,"y":720,"wires":[["1042dc6840836998"]]},{"id":"95c2dc17dd590943","type":"link in","z":"e723ddb71f1f6766","name":"link in 95","links":["99082c0c190b5ae6","9ead793c8f326ca7"],"x":3085,"y":760,"wires":[["054d4704fcae331a","85ec00672b0ee7ec"]]},{"id":"f5aded1eb95b8fe5","type":"link in","z":"e723ddb71f1f6766","name":"link in 96","links":["99082c0c190b5ae6","9ead793c8f326ca7"],"x":2785,"y":800,"wires":[["0609d88335cec7d1"]]},{"id":"7c993cd801aac166","type":"link in","z":"e723ddb71f1f6766","name":"link in 99","links":["99082c0c190b5ae6"],"x":3375,"y":800,"wires":[["30e54bf3b7c2109d","1042dc6840836998"]]},{"id":"85ec00672b0ee7ec","type":"ui-chart","z":"e723ddb71f1f6766","group":"57e53bc329feb0c4","name":"vpTempChart","label":"","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#5cd65c","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vibrationPlusTemperatureChart","x":3230,"y":800,"wires":[[]]},{"id":"0609d88335cec7d1","type":"ui-text","z":"e723ddb71f1f6766","group":"593b95dea86d9525","order":3,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"32","color":"#ffffff","className":"vibrationPlusValueODR","x":2930,"y":800,"wires":[]},{"id":"e496a460d8148748","type":"ui-template","z":"e723ddb71f1f6766","group":"593b95dea86d9525","page":"","ui":"","name":"vibrationPlusLine","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"lineVP2\"></div>\n</template>\n\n<style>\n.lineVP2{\n  position: absolute;\n  border-left: 200px solid grey ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: 40px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2890,"y":720,"wires":[[]]},{"id":"a495b4efe848cc68","type":"ui-chart","z":"e723ddb71f1f6766","group":"71726a4a6977b951","name":"vpX-ACC","label":"","order":1,"chartType":"line","category":"[\"x_rms_ACC_G\",\"x_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3000,"y":960,"wires":[[]]},{"id":"c22dafde839ca983","type":"ui-template","z":"e723ddb71f1f6766","group":"1cac9879a87f9e1d","page":"","ui":"","name":"vpLine","order":2,"width":"5","height":"1","head":"","format":"<template>\n    <div class=\"vpLine\"></div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3650,"y":720,"wires":[[]]},{"id":"d419bcf658709935","type":"ui-text","z":"e723ddb71f1f6766","group":"1cac9879a87f9e1d","order":1,"width":"5","height":"1","name":"","label":"Battery Percent","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vpTitlesText","x":3620,"y":680,"wires":[]},{"id":"02c6089f1ee6f68a","type":"ui-text","z":"e723ddb71f1f6766","group":"d7fa6f46d32fb0d6","order":2,"width":"4","height":"1","name":"","label":"X - Vel / Displ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3240,"y":920,"wires":[]},{"id":"32d074b94f98c05e","type":"ui-chart","z":"e723ddb71f1f6766","group":"d7fa6f46d32fb0d6","name":"vpX-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"x_velocity_mm_sec\",\"x_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3250,"y":960,"wires":[[]]},{"id":"f2f9927a935e1883","type":"ui-text","z":"e723ddb71f1f6766","group":"a8e6738e74707302","order":2,"width":"4","height":"1","name":"X - Peak (Hz)","label":"X - Peak","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3480,"y":920,"wires":[]},{"id":"446d5f96fcce9076","type":"ui-chart","z":"e723ddb71f1f6766","group":"a8e6738e74707302","name":"vpX-Peak","label":"","order":1,"chartType":"line","category":"[\"x_peak_one_Hz\",\"x_peak_two_Hz\",\"x_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3500,"y":960,"wires":[[]]},{"id":"cda1ca6b94a602c9","type":"ui-text","z":"e723ddb71f1f6766","group":"e2d429933e6a1736","order":2,"width":"4","height":"1","name":"","label":"Y - ACC ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3000,"y":1000,"wires":[]},{"id":"d4085dba34f54085","type":"ui-chart","z":"e723ddb71f1f6766","group":"e2d429933e6a1736","name":"vpY-ACC","label":"","order":1,"chartType":"line","category":"[\"y_rms_ACC_G\",\"y_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3000,"y":1040,"wires":[[]]},{"id":"eaa4b3faa639d407","type":"ui-text","z":"e723ddb71f1f6766","group":"720502cdd3cc906a","order":2,"width":"4","height":"1","name":"","label":"Y - Vel / Displ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3240,"y":1000,"wires":[]},{"id":"9ca24105be50a55e","type":"ui-chart","z":"e723ddb71f1f6766","group":"720502cdd3cc906a","name":"vpY-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"y_velocity_mm_sec\",\"y_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3250,"y":1040,"wires":[[]]},{"id":"c33bc89c0a40ea4d","type":"ui-text","z":"e723ddb71f1f6766","group":"672c41a055a37530","order":2,"width":"4","height":"1","name":"Y - Peak (Hz)","label":"Y - Peak","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3480,"y":1000,"wires":[]},{"id":"56cfe1f6d14399b0","type":"ui-chart","z":"e723ddb71f1f6766","group":"672c41a055a37530","name":"vpY-Peak","label":"","order":1,"chartType":"line","category":"[\"y_peak_one_Hz\",\"y_peak_two_Hz\",\"y_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3500,"y":1040,"wires":[[]]},{"id":"0347967bb57cbfde","type":"ui-text","z":"e723ddb71f1f6766","group":"571dedaae92e58ac","order":2,"width":"4","height":"1","name":"","label":"Z - ACC ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3000,"y":1080,"wires":[]},{"id":"74f4f35ee4a319e1","type":"ui-chart","z":"e723ddb71f1f6766","group":"571dedaae92e58ac","name":"vpZ-ACC","label":"","order":1,"chartType":"line","category":"[\"z_rms_ACC_G\",\"z_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3000,"y":1120,"wires":[[]]},{"id":"353dfbab473bf4a2","type":"ui-text","z":"e723ddb71f1f6766","group":"e7976f0978b2a274","order":2,"width":"4","height":"1","name":"","label":"Z - Vel / Displ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3250,"y":1080,"wires":[]},{"id":"ef1185638984ad21","type":"ui-chart","z":"e723ddb71f1f6766","group":"e7976f0978b2a274","name":"vpZ-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"z_velocity_mm_sec\",\"z_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3250,"y":1120,"wires":[[]]},{"id":"4d398fbfb5b83f70","type":"ui-text","z":"e723ddb71f1f6766","group":"201cec77a28766db","order":2,"width":"4","height":"1","name":"Z - Peak (Hz)","label":"Z - Peak","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3490,"y":1080,"wires":[]},{"id":"24b0fdb74ef34f3a","type":"ui-chart","z":"e723ddb71f1f6766","group":"201cec77a28766db","name":"vpZ-Peak","label":"","order":1,"chartType":"line","category":"[\"z_peak_one_Hz\",\"z_peak_two_Hz\",\"z_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3500,"y":1120,"wires":[[]]},{"id":"cd8d25178cd83222","type":"link in","z":"e723ddb71f1f6766","name":"link in 113","links":["6c342927cac3abd6","2ab9a13bb4c96e34"],"x":3085,"y":800,"wires":[["85ec00672b0ee7ec"]]},{"id":"bc6ab5c5cc44163c","type":"link in","z":"e723ddb71f1f6766","name":"link in 114","links":["99082c0c190b5ae6","9ead793c8f326ca7","2ab9a13bb4c96e34","6c342927cac3abd6"],"x":2905,"y":960,"wires":[["a495b4efe848cc68"]]},{"id":"92705b3727b2b342","type":"link in","z":"e723ddb71f1f6766","name":"link in 115","links":["99082c0c190b5ae6","9ead793c8f326ca7","6c342927cac3abd6","2ab9a13bb4c96e34"],"x":2905,"y":1040,"wires":[["d4085dba34f54085"]]},{"id":"218bfc80645df5f8","type":"link in","z":"e723ddb71f1f6766","name":"link in 116","links":["99082c0c190b5ae6","9ead793c8f326ca7","6c342927cac3abd6","2ab9a13bb4c96e34"],"x":2905,"y":1120,"wires":[["74f4f35ee4a319e1"]]},{"id":"87a4313d33139b34","type":"link in","z":"e723ddb71f1f6766","name":"link in 117","links":["99082c0c190b5ae6","9ead793c8f326ca7","6c342927cac3abd6","2ab9a13bb4c96e34"],"x":3145,"y":960,"wires":[["32d074b94f98c05e"]]},{"id":"ef1f5cd7dc036577","type":"link in","z":"e723ddb71f1f6766","name":"link in 118","links":["99082c0c190b5ae6","9ead793c8f326ca7","6c342927cac3abd6","2ab9a13bb4c96e34"],"x":3145,"y":1040,"wires":[["9ca24105be50a55e"]]},{"id":"5c0c3d7604298284","type":"link in","z":"e723ddb71f1f6766","name":"link in 119","links":["99082c0c190b5ae6","9ead793c8f326ca7","2ab9a13bb4c96e34","6c342927cac3abd6"],"x":3145,"y":1120,"wires":[["ef1185638984ad21"]]},{"id":"7c20bf422213cb07","type":"link in","z":"e723ddb71f1f6766","name":"link in 120","links":["99082c0c190b5ae6","9ead793c8f326ca7","6c342927cac3abd6","2ab9a13bb4c96e34"],"x":3405,"y":960,"wires":[["446d5f96fcce9076"]]},{"id":"802f6856026f6dd9","type":"link in","z":"e723ddb71f1f6766","name":"link in 121","links":["99082c0c190b5ae6","9ead793c8f326ca7","6c342927cac3abd6","2ab9a13bb4c96e34"],"x":3405,"y":1040,"wires":[["56cfe1f6d14399b0"]]},{"id":"7761cf6493bbd7a3","type":"link in","z":"e723ddb71f1f6766","name":"link in 122","links":["99082c0c190b5ae6","9ead793c8f326ca7","6c342927cac3abd6","2ab9a13bb4c96e34"],"x":3405,"y":1120,"wires":[["24b0fdb74ef34f3a"]]},{"id":"108c47330641209c","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1420,"wires":[["8aa95bf2621a2425"]],"l":false},{"id":"8aa95bf2621a2425","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":5,"width":"0","height":"0","name":"y-rms-ACC-G","label":"y-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1420,"wires":[]},{"id":"6db4596e2a05cfc1","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1460,"wires":[["de4b35e5905fc81b"]],"l":false},{"id":"de4b35e5905fc81b","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":6,"width":"0","height":"0","name":"y-max-ACC-G","label":"y-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1460,"wires":[]},{"id":"8364934b4b90384c","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":7,"width":"0","height":"0","name":"y-Velocity-mm-sec","label":"y-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1500,"wires":[]},{"id":"e5af26782e697c77","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1500,"wires":[["8364934b4b90384c"]],"l":false},{"id":"f43058a2fc288207","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":8,"width":"0","height":"0","name":"y-Displacement-mm-sec","label":"y-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1540,"wires":[]},{"id":"3e9679ec599a5247","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1540,"wires":[["f43058a2fc288207"]],"l":false},{"id":"7210395037fa8901","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":9,"width":"0","height":"0","name":"y-Peak-One (Hz)","label":"y-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1580,"wires":[]},{"id":"898f559391110a79","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1580,"wires":[["7210395037fa8901"]],"l":false},{"id":"3d9f98b7b5c49a18","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":10,"width":"0","height":"0","name":"y-Peak-Two (Hz)","label":"y-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1620,"wires":[]},{"id":"4237ef522dfdccef","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1620,"wires":[["3d9f98b7b5c49a18"]],"l":false},{"id":"1d9153092baab875","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":11,"width":"0","height":"0","name":"y-Peak-Three (Hz)","label":"y-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1660,"wires":[]},{"id":"d70c619a82260977","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1660,"wires":[["1d9153092baab875"]],"l":false},{"id":"a090366f505b4d42","type":"link in","z":"e723ddb71f1f6766","name":"link in 123","links":["df6a1ff8d21013da","3dc547f9fb6524b3"],"x":2665,"y":1800,"wires":[["a12d055d367b48f5","5d823211dd038e0a","e39d790b8ae26256","746bd9afdd64a45c","f46f65e767b37371","049d89629b287935","f48c489e493cb74d","e3cba87753efa1ad","69880071d8f39885","460ce18644c1d56c"]]},{"id":"a12d055d367b48f5","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1680,"wires":[["b8f1908fd6135562"]],"l":false},{"id":"5d823211dd038e0a","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1720,"wires":[["389f479b4db3f43d"]],"l":false},{"id":"e39d790b8ae26256","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1760,"wires":[["ede1f6c4b512a032"]],"l":false},{"id":"b8f1908fd6135562","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":13,"width":"0","height":"0","name":"mode:","label":"mode:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1680,"wires":[]},{"id":"389f479b4db3f43d","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":14,"width":"0","height":"0","name":"odr","label":"odr:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1720,"wires":[]},{"id":"ede1f6c4b512a032","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":15,"width":"0","height":"0","name":"Temperature","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1760,"wires":[]},{"id":"746bd9afdd64a45c","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1800,"wires":[["79f48cd3691d0ebb"]],"l":false},{"id":"79f48cd3691d0ebb","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":16,"width":"0","height":"0","name":"x-rms-ACC-G","label":"x-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1800,"wires":[]},{"id":"f46f65e767b37371","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1840,"wires":[["9561584e0e8f891c"]],"l":false},{"id":"9561584e0e8f891c","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":17,"width":"0","height":"0","name":"x-max-ACC-G","label":"x-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1840,"wires":[]},{"id":"8418e0fa08fe9e33","type":"ui-text","z":"e723ddb71f1f6766","group":"083e9339e836abbe","order":18,"width":"0","height":"0","name":"x-Velocity-mm-sec","label":"x-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1880,"wires":[]},{"id":"049d89629b287935","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1880,"wires":[["8418e0fa08fe9e33"]],"l":false},{"id":"11d141ffa8c37c65","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":1,"width":"0","height":"0","name":"x-Displacement-mm-sec","label":"x-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2910,"y":1920,"wires":[]},{"id":"f48c489e493cb74d","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1920,"wires":[["11d141ffa8c37c65"]],"l":false},{"id":"14f51e8a497e84e3","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":2,"width":"0","height":"0","name":"x-Peak-One (Hz)","label":"x-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1960,"wires":[]},{"id":"e3cba87753efa1ad","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1960,"wires":[["14f51e8a497e84e3"]],"l":false},{"id":"d8bb73232c8ce162","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":3,"width":"0","height":"0","name":"x-Peak-Two (Hz)","label":"x-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":2000,"wires":[]},{"id":"69880071d8f39885","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":2000,"wires":[["d8bb73232c8ce162"]],"l":false},{"id":"3626ea3b552315b4","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":4,"width":"0","height":"0","name":"x-Peak-Three (Hz)","label":"x-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":2040,"wires":[]},{"id":"460ce18644c1d56c","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":2040,"wires":[["3626ea3b552315b4"]],"l":false},{"id":"262c030b4acfc090","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":18,"width":"0","height":"0","name":"z-Peak-Three (Hz)","label":"z-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1940,"wires":[]},{"id":"87efa931a553911f","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1700,"wires":[["84917d59496fbf9c"]],"l":false},{"id":"84917d59496fbf9c","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":12,"width":"0","height":"0","name":"z-rms-ACC-G","label":"z-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1700,"wires":[]},{"id":"a3b9b4229bfec4b3","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1740,"wires":[["3a04801fea7f76b5"]],"l":false},{"id":"3a04801fea7f76b5","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":13,"width":"0","height":"0","name":"z-max-ACC-G","label":"z-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1740,"wires":[]},{"id":"91563cc2aca83202","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":14,"width":"0","height":"0","name":"z-Velocity-mm-sec","label":"z-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1780,"wires":[]},{"id":"1f2cfbf68f47c7bb","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1780,"wires":[["91563cc2aca83202"]],"l":false},{"id":"6f537173b1010fd6","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":15,"width":"0","height":"0","name":"z-Displacement-mm-sec","label":"z-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1820,"wires":[]},{"id":"d1b35b47661f01c8","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1820,"wires":[["6f537173b1010fd6"]],"l":false},{"id":"c86bb29b2949fc58","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":16,"width":"0","height":"0","name":"z-Peak-One (Hz)","label":"z-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1860,"wires":[]},{"id":"bbca860fc3b89742","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1860,"wires":[["c86bb29b2949fc58"]],"l":false},{"id":"c0850114dcc68bb5","type":"ui-text","z":"e723ddb71f1f6766","group":"313c889dd1a46f2b","order":17,"width":"0","height":"0","name":"z-Peak-Two (Hz)","label":"z-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1900,"wires":[]},{"id":"4f69b4a116fde8e5","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1900,"wires":[["c0850114dcc68bb5"]],"l":false},{"id":"01bac7f2b52b39e7","type":"change","z":"e723ddb71f1f6766","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1940,"wires":[["262c030b4acfc090"]],"l":false},{"id":"9ead793c8f326ca7","type":"link out","z":"e723ddb71f1f6766","name":"link out 95","mode":"link","links":["bc6ab5c5cc44163c","92705b3727b2b342","95c2dc17dd590943","218bfc80645df5f8","87a4313d33139b34","ef1f5cd7dc036577","5c0c3d7604298284","7c20bf422213cb07","802f6856026f6dd9","7761cf6493bbd7a3","f5aded1eb95b8fe5"],"x":3495,"y":680,"wires":[]},{"id":"b88f3343f40387b7","type":"switch","z":"e723ddb71f1f6766","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1815,"y":780,"wires":[["32ce09a6558f110f"]],"l":false},{"id":"3dc547f9fb6524b3","type":"link out","z":"e723ddb71f1f6766","name":"link out 96","mode":"link","links":["54f0b8d356093249","a090366f505b4d42","84aa20692709698d","0379d9b1b3621e88"],"x":2405,"y":840,"wires":[]},{"id":"7f4377a68aa65d45","type":"function","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3380,"y":440,"wires":[["8b7282c317acabf3"]]},{"id":"ffaa7690824a4066","type":"http response","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","statusCode":"","headers":{},"x":3670,"y":440,"wires":[]},{"id":"8b7282c317acabf3","type":"file in","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3540,"y":440,"wires":[["ffaa7690824a4066"]]},{"id":"179666641c6ffd07","type":"catch","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","scope":["8b7282c317acabf3"],"uncaught":false,"x":3230,"y":500,"wires":[["19d049867b7eeb1a","936265e3c514d811","cf26d0e3dd456269"]]},{"id":"cdc665e10c839508","type":"http in","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":2750,"y":440,"wires":[["c14b99a3de5f68e5","6bf14e2c5da63b95"]]},{"id":"a5635961b55d1ac2","type":"change","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"vpDateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3210,"y":440,"wires":[["7f4377a68aa65d45"]]},{"id":"c14b99a3de5f68e5","type":"change","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2875,"y":420,"wires":[["cce08854965ed786"]],"l":false},{"id":"6bf14e2c5da63b95","type":"change","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2875,"y":460,"wires":[["776046e896799814"]],"l":false},{"id":"cce08854965ed786","type":"switch","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2925,"y":420,"wires":[["3fffb6a191faae69"]],"l":false},{"id":"776046e896799814","type":"switch","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2925,"y":460,"wires":[["55f65e233b8553d0"]],"l":false},{"id":"3fffb6a191faae69","type":"change","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vpmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3040,"y":420,"wires":[["a5635961b55d1ac2"]]},{"id":"21bf0ab4b7e9fc75","type":"ui-notification","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":3640,"y":480,"wires":[]},{"id":"19d049867b7eeb1a","type":"function","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3400,"y":480,"wires":[["2f4791d890ab80af"]]},{"id":"2f4791d890ab80af","type":"trigger","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3515,"y":480,"wires":[["21bf0ab4b7e9fc75"]],"l":false},{"id":"55f65e233b8553d0","type":"change","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vpmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3040,"y":460,"wires":[["a5635961b55d1ac2"]]},{"id":"936265e3c514d811","type":"http response","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/vibrationplus"},"x":3390,"y":520,"wires":[]},{"id":"3ad513108cd9cc54","type":"function","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"checkLastFlagType","func":"let unit = {};\nunit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-vibration-plus:vibrationPlusInspect1\",\n            \"ncd-vibration-plus:vibrationPlusInspect2\",\n            \"ncd-vibration-plus:vibrationPlusInspect3\"\n        ],\n        show: [\n            \"ncd-vibration-plus:vibrationPlusODR\",\n            \"ncd-vibration-plus:vibrationPlusTemperature\",\n            \"ncd-vibration-plus:vibrationPlusBattery\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n        ],\n        enable : \n        [\n            \"ncd-vibration-plus:vibrationPlusDownload\",\n            \"ncd-vibration-plus:vibrationPlusSelectMAC\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3470,"y":560,"wires":[["19c795860fef95f9"]]},{"id":"cf26d0e3dd456269","type":"trigger","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3335,"y":560,"wires":[["3ad513108cd9cc54"]],"l":false},{"id":"19c795860fef95f9","type":"link out","z":"e723ddb71f1f6766","g":"aa78f3da52c07aba","name":"link out 91","mode":"link","links":["554e20c67cad1fb7"],"x":3595,"y":560,"wires":[]},{"id":"d1b95ab387828da7","type":"function","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"inspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\n\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    flow.set(\"vpInspect\", true);\n    unit = {\n        groups: \n        { \n            show: [\n                \"ncd-vibration-plus:vibrationPlusInspect1\",\n                \"ncd-vibration-plus:vibrationPlusInspect2\",\n                \"ncd-vibration-plus:vibrationPlusInspect3\"],\n            hide: \n            [\n               \"ncd-vibration-plus:vibrationPlusODR\",\n               \"ncd-vibration-plus:vibrationPlusTemperature\",\n               \"ncd-vibration-plus:vibrationPlusBattery\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n            ],\n            disable: \n            [\n                \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n                \"ncd-vibration-plus:vibrationPlusDownload\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"vpInspect\", false);\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-vibration-plus:vibrationPlusInspect1\",\n                \"ncd-vibration-plus:vibrationPlusInspect2\",\n                \"ncd-vibration-plus:vibrationPlusInspect3\"\n            ],\n            show: [\n               \"ncd-vibration-plus:vibrationPlusODR\",\n               \"ncd-vibration-plus:vibrationPlusTemperature\",\n               \"ncd-vibration-plus:vibrationPlusBattery\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n            ],\n            enable : \n            [\n                \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n                \"ncd-vibration-plus:vibrationPlusDownload\"\n            ]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":240,"wires":[["f4b422cc7214c668"]]},{"id":"d665e1f24f570a91","type":"ui-template","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","group":"","page":"0b9e8a5f2d881194","ui":"","name":"inspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"vibrationPlusInspectButton\" @click=\"send({payload:true})\" color=\"#021c35\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.vibrationPlusInspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2760,"y":240,"wires":[["d1b95ab387828da7"]]},{"id":"f4b422cc7214c668","type":"ui-control","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"","ui":"ec459411017ddf37","events":"change","x":3140,"y":260,"wires":[[]]},{"id":"9cc8459521da389e","type":"function","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"initShow","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-vibration-plus:vibrationPlusInspect1\",\n            \"ncd-vibration-plus:vibrationPlusInspect2\",\n            \"ncd-vibration-plus:vibrationPlusInspect3\"\n        ],\n        show:\n        [\n            \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n            \"ncd-vibration-plus:vibrationPlusDownload\",\n            \"ncd-vibration-plus:vibrationPlusODR\",\n            \"ncd-vibration-plus:vibrationPlusTemperature\",\n            \"ncd-vibration-plus:vibrationPlusBattery\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n        ],\n        enable:\n        [\n            \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n            \"ncd-vibration-plus:vibrationPlusDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2960,"y":280,"wires":[["f4b422cc7214c668"]]},{"id":"3ffde0b2e8a056ee","type":"ui-event","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","ui":"ec459411017ddf37","name":"","x":2730,"y":280,"wires":[["9cc8459521da389e"]]},{"id":"3ae62ff5b1ed71f5","type":"link in","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"link in 83","links":[],"x":3005,"y":320,"wires":[["f4b422cc7214c668"]]},{"id":"79e888886e4a403a","type":"inject","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":2795,"y":320,"wires":[["4f9213509f2eb002"]],"l":false},{"id":"4f9213509f2eb002","type":"change","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"","rules":[{"t":"delete","p":"vpMAC","pt":"flow"},{"t":"delete","p":"vpmacSelection","pt":"flow"},{"t":"delete","p":"vpDateDownloadFile","pt":"flow"},{"t":"delete","p":"vpInspect","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2845,"y":320,"wires":[["9cc8459521da389e","99082c0c190b5ae6"]],"icon":"font-awesome/fa-remove","l":false},{"id":"99082c0c190b5ae6","type":"link out","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"link out 92","mode":"link","links":["9b2f188f109f9848","95c2dc17dd590943","f5aded1eb95b8fe5","7c993cd801aac166","bc6ab5c5cc44163c","92705b3727b2b342","218bfc80645df5f8","87a4313d33139b34","ef1f5cd7dc036577","5c0c3d7604298284","7c20bf422213cb07","802f6856026f6dd9","7761cf6493bbd7a3"],"x":2925,"y":320,"wires":[]},{"id":"554e20c67cad1fb7","type":"link in","z":"e723ddb71f1f6766","g":"458e9e03e88b4359","name":"link in 84","links":["19c795860fef95f9"],"x":2995,"y":200,"wires":[["f4b422cc7214c668"]]},{"id":"3daf0fa9fc76456d","type":"ui-text-input","z":"e723ddb71f1f6766","g":"0b2070b04e8e9b22","group":"3f9e3f0eea78aa86","name":"vpDatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"vpDatePicker","x":3350,"y":320,"wires":[["d170d2a711c16c59"]]},{"id":"c00793f14785175c","type":"ui-template","z":"e723ddb71f1f6766","g":"0b2070b04e8e9b22","group":"3f9e3f0eea78aa86","page":"","ui":"","name":"vpDownload","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd-vibration-plus.csv\">\n        <v-btn class=\"vpButtonDownload\" color=\"#021c35\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.vpButtonDownload {\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3770,"y":320,"wires":[[]]},{"id":"d170d2a711c16c59","type":"change","z":"e723ddb71f1f6766","g":"0b2070b04e8e9b22","name":"","rules":[{"t":"set","p":"vpDateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3560,"y":320,"wires":[[]]},{"id":"fd330fd30c35970a","type":"ui-template","z":"e723ddb71f1f6766","g":"1ea0a4af73acf160","group":"","page":"0b9e8a5f2d881194","ui":"","name":"vpStyle","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #021c35 !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  20px !important;\n    background-color: #022955 !important;\n    border-color: #022955  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #053a66 !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #053a66 !important;\n}\n.vpInspectGroup .v-card{\n    height: 1077px !important;\n}\n.groupVibrationPlusBattChart .v-card{\n    height: 225px !important;\n}\n.vpGroupsCharts .v-card{\n    height: 265px !important;\n}\n.vpGroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.vpGroupSelectMac .bg-group-background{\n    background-color: #053a66 !important;\n    border-color: #053a66  !important;\n}\n.vpGroupSelectMac .v-card{\n    height: 92px !important;\n}\n.vpDatePicker{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.vpGrupoDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.vpGrupoDownload .bg-group-background{\n    background-color: #053a66 !important;\n    border-color: #053a66  !important;\n}\n.vpGrupoDownload .v-card{\n    height: 155px !important;\n}\n.vibrationPlusGauge {\n    top:-76px !important;\n    left: 0px !important;\n}\n.vibrationPlusGauge .nrdb-ui-gauge-value span {\n    position: relative;\n    top: -3px !important;\n    font-size: 2.0rem !important;\n    line-height: 4.75rem !important;\n}\n.v-card-text .vibrationPlusGauge{\n    color: white !important;\n    font-size: 0.0rem !important;\n}\n.vibrationPlusGauge .nrdb-ui-gauge-value label {\n    color: white !important;\n    font-size: 1.75rem;\n    line-height: 0.825rem;\n}\n.vibrationPlusBatteryPrecentChart {\n    position: relative;\n    top: -110px !important;\n}\n.nrdb-ui-gauge #backdrop path {\n    fill: #053a66 !important;\n}\n/*needle color*/\n.nrdb-ui-gauge #needle polygon{\n    fill: #ffffff !important;\n}\n.vibrationPlusGauge .nrdb-ui-gauge-value span {\n  color: #ffffff;\n}\n.vpTitlesText .nrdb-ui-text-label{\n    position: absolute;\n    top: 10px !important;\n    font-size: 25px !important;\n    color: #ffffff;\n}\n.vibrationPlusTemperatureChart {\n    position: relative;\n    left: 5px !important;\n    top: -110px !important;\n    width: 670px;\n}\n.vibrationPlusGroupODR .v-card{\n    width: 160px !important;\n    height: 246px !important;\n}\n.vibrationPlusValueODR .nrdb-ui-text-value{\n    position: relative;\n    top: -18px !important;\n}\n.vibrationPlusXAccChart{\n    position: relative;\n    top: -43px !important;\n}\n.vibrationPlusGroupTempBatt .v-card{\n    height: 246px !important;\n}\n.vibrationPlusChartsText .nrdb-ui-text-label{\n    position: absolute;\n    top: 10px !important;\n    font-size: 18px !important;\n    color: #ffffff;\n}\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":3660,"y":220,"wires":[[]]},{"id":"98924cbd683cdc79","type":"ui-template","z":"e723ddb71f1f6766","g":"1ea0a4af73acf160","group":"","page":"0b9e8a5f2d881194","ui":"","name":"vpLogo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"vplogo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.vplogo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3520,"y":220,"wires":[[]]},{"id":"aba42485929ea47b","type":"ui-template","z":"e723ddb71f1f6766","g":"1ea0a4af73acf160","group":"","page":"0b9e8a5f2d881194","ui":"","name":"vpProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/smart-industrial-iot-wireless-vibration-temperature-sensor/\" target=\"_blank\">\n        <v-btn class=\"vpInfoButton\" color=\"#021c35\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.vpInfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3360,"y":220,"wires":[[]]},{"id":"dfdb0b7bc0ab7d6e","type":"junction","z":"e723ddb71f1f6766","x":1890,"y":1080,"wires":[["b2a99f995d67b56a"]]},{"id":"1cfd81063a7fd2a6","type":"junction","z":"e723ddb71f1f6766","x":740,"y":740,"wires":[["8d7edc969f286268","84fcc6427d6a3963"]]},{"id":"7017745e4e228700","type":"junction","z":"e723ddb71f1f6766","x":520,"y":980,"wires":[["a58892670a91136c"]]},{"id":"aa78f3da52c07aba","type":"group","z":"e723ddb71f1f6766","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7f4377a68aa65d45","ffaa7690824a4066","8b7282c317acabf3","179666641c6ffd07","cdc665e10c839508","a5635961b55d1ac2","c14b99a3de5f68e5","6bf14e2c5da63b95","cce08854965ed786","776046e896799814","3fffb6a191faae69","21bf0ab4b7e9fc75","19d049867b7eeb1a","2f4791d890ab80af","55f65e233b8553d0","936265e3c514d811","3ad513108cd9cc54","cf26d0e3dd456269","19c795860fef95f9"],"x":2654,"y":379,"w":1102,"h":222},{"id":"458e9e03e88b4359","type":"group","z":"e723ddb71f1f6766","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d1b95ab387828da7","d665e1f24f570a91","f4b422cc7214c668","9cc8459521da389e","3ffde0b2e8a056ee","3ae62ff5b1ed71f5","79e888886e4a403a","4f9213509f2eb002","99082c0c190b5ae6","554e20c67cad1fb7"],"x":2654,"y":159,"w":572,"h":202},{"id":"0b2070b04e8e9b22","type":"group","z":"e723ddb71f1f6766","name":"","style":{"fill":"none","label":true},"nodes":["3daf0fa9fc76456d","c00793f14785175c","d170d2a711c16c59"],"x":3254,"y":279,"w":612,"h":82},{"id":"1ea0a4af73acf160","type":"group","z":"e723ddb71f1f6766","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fd330fd30c35970a","98924cbd683cdc79","aba42485929ea47b"],"x":3254,"y":179,"w":492,"h":82},{"id":"b9af03f313f7022e","type":"ui-group","name":"vibrationPlusSelectMAC","page":"0b9e8a5f2d881194","width":"6","height":"1","order":1,"showTitle":false,"className":"vpGroupSelectMac","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"083e9339e836abbe","type":"ui-group","name":"vibrationPlusInspect1","page":"0b9e8a5f2d881194","width":"4","height":"1","order":15,"showTitle":false,"className":"vpInspectGroup","visible":"true","disabled":"false"},{"id":"779f6a10748fb85a","type":"ui-group","name":"vibrationPlusInspect3","page":"0b9e8a5f2d881194","width":"4","height":"1","order":17,"showTitle":false,"className":"vpInspectGroup","visible":"true","disabled":"false"},{"id":"57e53bc329feb0c4","type":"ui-group","name":"vibrationPlusTemperature","page":"0b9e8a5f2d881194","width":"6","height":"1","order":4,"showTitle":false,"className":"vibrationPlusGroupTempBatt","visible":"true","disabled":"false"},{"id":"593b95dea86d9525","type":"ui-group","name":"vibrationPlusODR","page":"0b9e8a5f2d881194","width":"1","height":"1","order":3,"showTitle":false,"className":"vibrationPlusGroupODR","visible":"true","disabled":"false"},{"id":"71726a4a6977b951","type":"ui-group","name":"vibrationPlusACCGroup_x","page":"0b9e8a5f2d881194","width":"4","height":"1","order":6,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"1cac9879a87f9e1d","type":"ui-group","name":"vibrationPlusBattery","page":"0b9e8a5f2d881194","width":"5","height":"1","order":5,"showTitle":false,"className":"vibrationPlusGroupTempBatt","visible":"true","disabled":"false"},{"id":"d7fa6f46d32fb0d6","type":"ui-group","name":"vibrationPlusVelDisplGroup_x","page":"0b9e8a5f2d881194","width":"4","height":"1","order":7,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"a8e6738e74707302","type":"ui-group","name":"vibrationPlusOneTwoThreeGroup_x","page":"0b9e8a5f2d881194","width":"4","height":"1","order":8,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"e2d429933e6a1736","type":"ui-group","name":"vibrationPlusACCGroup_y","page":"0b9e8a5f2d881194","width":"4","height":"1","order":9,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"720502cdd3cc906a","type":"ui-group","name":"vibrationPlusVelDisplGroup_y","page":"0b9e8a5f2d881194","width":"4","height":"1","order":10,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"672c41a055a37530","type":"ui-group","name":"vibrationPlusOneTwoThreeGroup_y","page":"0b9e8a5f2d881194","width":"4","height":"1","order":11,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"571dedaae92e58ac","type":"ui-group","name":"vibrationPlusACCGroup_z","page":"0b9e8a5f2d881194","width":"4","height":"1","order":12,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"e7976f0978b2a274","type":"ui-group","name":"vibrationPlusVelDisplGroup_z","page":"0b9e8a5f2d881194","width":"4","height":"1","order":13,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"201cec77a28766db","type":"ui-group","name":"vibrationPlusOneTwoThreeGroup_z","page":"0b9e8a5f2d881194","width":"4","height":"1","order":14,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"313c889dd1a46f2b","type":"ui-group","name":"vibrationPlusInspect2","page":"0b9e8a5f2d881194","width":"4","height":"1","order":16,"showTitle":false,"className":"vpInspectGroup","visible":"true","disabled":"false"},{"id":"0b9e8a5f2d881194","type":"ui-page","name":"ncd-vibration-plus","ui":"ec459411017ddf37","path":"/vibrationplus","icon":"mdi-waveform","layout":"grid","theme":"1bbb7b6c9602b754","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"3f9e3f0eea78aa86","type":"ui-group","name":"vibrationPlusDownload","page":"0b9e8a5f2d881194","width":"6","height":"1","order":2,"showTitle":false,"className":"vpGrupoDownload","visible":"true","disabled":"false"},{"id":"1bbb7b6c9602b754","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"571ea210867ee73b","type":"subflow:e723ddb71f1f6766","z":"0f850dc8977c3d53","name":"","x":1170,"y":1220,"wires":[]}]
