node-red/vibration-temp-v3-dashboard.json
[{"id":"043195e570c9684d","type":"subflow","name":"vibration plus","info":"","category":"NCD","in":[{"x":100,"y":800,"wires":[{"id":"3cb42096bbd8e2da"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"node-red/bridge-dash.svg","status":{"x":1700,"y":720,"wires":[{"id":"f01b23123fb10dc0","port":0},{"id":"94c148c092e118c9","port":0},{"id":"52e63acbd5ca0a1c","port":0}]}},{"id":"9df5f842d86ebdc3","type":"link out","z":"043195e570c9684d","name":"link out 82","mode":"link","links":["90e6192d9b4e41a2","bcab298ef595f49d"],"x":2445,"y":960,"wires":[]},{"id":"15e0f953e96d2c05","type":"link out","z":"043195e570c9684d","name":"link out 83","mode":"link","links":["bcab298ef595f49d","30bcc6f673b5632f","90e6192d9b4e41a2","5c1edfa7f95b7f70","672d1596b929fe61","f08296d37c8f3aba","29db896bdbe704e9","f8b55adc9cd5d2b6","21ab969fdb30288f","6c72da5b2f90c170","71fe5998a0986d47","999d7d7460edd890","ba5f531a90b5c137","3b39bce2d676b838"],"x":2405,"y":800,"wires":[]},{"id":"11e35f4e48f94284","type":"link out","z":"043195e570c9684d","name":"toGraphs","mode":"link","links":["672d1596b929fe61","f08296d37c8f3aba","29db896bdbe704e9","f8b55adc9cd5d2b6","21ab969fdb30288f","6c72da5b2f90c170","71fe5998a0986d47","999d7d7460edd890","ba5f531a90b5c137","3b39bce2d676b838","30bcc6f673b5632f"],"x":2595,"y":1040,"wires":[]},{"id":"eac3342a63c9c339","type":"file in","z":"043195e570c9684d","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1955,"y":1000,"wires":[["36d7973ba015e7d7"]],"l":false},{"id":"36d7973ba015e7d7","type":"csv","z":"043195e570c9684d","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2015,"y":1000,"wires":[["e4c73b6e503e4d65"]],"l":false},{"id":"887b93188e65b8bd","type":"change","z":"043195e570c9684d","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":820,"wires":[["5972eb493f239e62"]]},{"id":"3688a44d0e4bc27d","type":"csv","z":"043195e570c9684d","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1495,"y":780,"wires":[["1f6559139804902b"]],"l":false},{"id":"1f6559139804902b","type":"file","z":"043195e570c9684d","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1545,"y":780,"wires":[["f836069cca588dd6","52e63acbd5ca0a1c"]],"l":false},{"id":"f836069cca588dd6","type":"function","z":"043195e570c9684d","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = context.get(\"vpcountMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"vpMAC[\"+index+\"]\"); // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"vpMAC[\"+count+\"]\", newMAC); // Save array [MAC, TYPE]\ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \ncontext.set(\"vpcountMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":800,"wires":[["b457a299a81dbdba","03219aa1fbb6283d"]]},{"id":"b457a299a81dbdba","type":"function","z":"043195e570c9684d","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"vpMAC[\"+index+\"]\");\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":820,"wires":[["f7a6562939b6469e","0365b767ec461292"]]},{"id":"4cd73e028437ca1a","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1080,"wires":[["bfd9d012ac116656"]]},{"id":"0365b767ec461292","type":"switch","z":"043195e570c9684d","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"vpmacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2220,"y":820,"wires":[["04ba8bc6d1692fb8"]]},{"id":"491edd88f495beaa","type":"change","z":"043195e570c9684d","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":1040,"wires":[["8ccb8314e95498b7"]]},{"id":"8ccb8314e95498b7","type":"json","z":"043195e570c9684d","name":"json object","property":"payload.data","action":"","pretty":false,"x":2395,"y":1040,"wires":[["8d46c421b1fd1bfa"]],"l":false},{"id":"8d46c421b1fd1bfa","type":"function","z":"043195e570c9684d","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2490,"y":1040,"wires":[["11e35f4e48f94284"]]},{"id":"5972eb493f239e62","type":"switch","z":"043195e570c9684d","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1040,"y":820,"wires":[["f01b23123fb10dc0"],["ebed556f56192d53"],["d30862f1d8455c94"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"ebed556f56192d53","type":"function","z":"043195e570c9684d","name":"buildFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":820,"wires":[["3688a44d0e4bc27d"]]},{"id":"d30862f1d8455c94","type":"function","z":"043195e570c9684d","name":"buildFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":860,"wires":[["3688a44d0e4bc27d"]]},{"id":"bfd9d012ac116656","type":"switch","z":"043195e570c9684d","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1520,"y":1080,"wires":[["fef10905bcf67945"],["e498b8eacde749c6"]]},{"id":"fef10905bcf67945","type":"function","z":"043195e570c9684d","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":1060,"wires":[["1cf03d5c03c27d71"]]},{"id":"e498b8eacde749c6","type":"function","z":"043195e570c9684d","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":1100,"wires":[["1cf03d5c03c27d71"]]},{"id":"3b57d2545e950920","type":"catch","z":"043195e570c9684d","name":"","scope":["1f6559139804902b","eac3342a63c9c339"],"uncaught":false,"x":1555,"y":700,"wires":[["f01b23123fb10dc0"]],"l":false},{"id":"f01b23123fb10dc0","type":"function","z":"043195e570c9684d","name":"function 42","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1625,"y":720,"wires":[[]],"l":false},{"id":"52e63acbd5ca0a1c","type":"function","z":"043195e570c9684d","name":"function 43","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1625,"y":760,"wires":[[]],"l":false},{"id":"4607968f4401b3b8","type":"switch","z":"043195e570c9684d","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":610,"y":780,"wires":[["4fbba7e20c91cfe4"],["887b93188e65b8bd"]],"outputLabels":["defaultPath","userPath"]},{"id":"3a10fa685c4318ba","type":"change","z":"043195e570c9684d","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":720,"wires":[["f3a62cf974ad2c5f"]]},{"id":"1d610755328b753e","type":"change","z":"043195e570c9684d","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":760,"wires":[["5cc4b2b766a86fc8"]]},{"id":"5cc4b2b766a86fc8","type":"switch","z":"043195e570c9684d","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":760,"wires":[["3d32ec629915dc47"]]},{"id":"f3a62cf974ad2c5f","type":"switch","z":"043195e570c9684d","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":720,"wires":[["716432cd01aaef0e"]]},{"id":"1d5873c554baa8de","type":"change","z":"043195e570c9684d","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[["4607968f4401b3b8"]]},{"id":"716432cd01aaef0e","type":"change","z":"043195e570c9684d","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":720,"wires":[["8b2cbb3b06e6adac"]]},{"id":"a7eea7338a6ae18d","type":"function","z":"043195e570c9684d","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":760,"wires":[["3688a44d0e4bc27d"]]},{"id":"8b2cbb3b06e6adac","type":"function","z":"043195e570c9684d","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":720,"wires":[["3688a44d0e4bc27d"]]},{"id":"3d32ec629915dc47","type":"change","z":"043195e570c9684d","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":760,"wires":[["a7eea7338a6ae18d"]]},{"id":"8ba9e2ef319eaa36","type":"switch","z":"043195e570c9684d","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1160,"y":1000,"wires":[["506528f95b6fe9d1","2393f94dc03cb623"],["4cd73e028437ca1a"]]},{"id":"e22033e659ffe6fe","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"vpmacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1000,"wires":[["8ba9e2ef319eaa36"]]},{"id":"2393f94dc03cb623","type":"change","z":"043195e570c9684d","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":940,"wires":[["dec34b687db5ed9f"]]},{"id":"506528f95b6fe9d1","type":"change","z":"043195e570c9684d","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1000,"wires":[["b1d8f510b8e9603d"]]},{"id":"b1d8f510b8e9603d","type":"switch","z":"043195e570c9684d","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":1000,"wires":[["002d93bbfd15d1f9"]]},{"id":"dec34b687db5ed9f","type":"switch","z":"043195e570c9684d","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":940,"wires":[["8d944afebfb915ef"]]},{"id":"112596efaba1ef62","type":"function","z":"043195e570c9684d","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":1000,"wires":[["eac3342a63c9c339"]]},{"id":"5a7156790239c2f0","type":"function","z":"043195e570c9684d","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":940,"wires":[["eac3342a63c9c339"]]},{"id":"8d944afebfb915ef","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":940,"wires":[["5a7156790239c2f0"]]},{"id":"002d93bbfd15d1f9","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1000,"wires":[["112596efaba1ef62"]]},{"id":"e4c73b6e503e4d65","type":"function","z":"043195e570c9684d","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":1000,"wires":[["238ef36f5e000da1","27dd3e85f30944eb"],["491edd88f495beaa"]]},{"id":"1c0abf3f0a534552","type":"catch","z":"043195e570c9684d","name":"","scope":["8ccb8314e95498b7"],"uncaught":false,"x":2370,"y":760,"wires":[[]]},{"id":"04ba8bc6d1692fb8","type":"function","z":"043195e570c9684d","name":"function 46","func":"let inspect = flow.get(\"vpInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2355,"y":820,"wires":[["15e0f953e96d2c05"],["55c2374a85140be5"]],"l":false},{"id":"238ef36f5e000da1","type":"change","z":"043195e570c9684d","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":960,"wires":[["1b1d742cb977229d"]]},{"id":"27dd3e85f30944eb","type":"change","z":"043195e570c9684d","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":1000,"wires":[["6debd157575965a5"]]},{"id":"1b1d742cb977229d","type":"json","z":"043195e570c9684d","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2395,"y":960,"wires":[["9df5f842d86ebdc3"]],"l":false},{"id":"3cb42096bbd8e2da","type":"switch","z":"043195e570c9684d","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"80","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":260,"y":800,"wires":[["1d5873c554baa8de"],["815e8570935e413a"]]},{"id":"815e8570935e413a","type":"function","z":"043195e570c9684d","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":820,"wires":[["1c134493f262360e"]]},{"id":"1c134493f262360e","type":"link out","z":"043195e570c9684d","name":"link out 85","mode":"link","links":["94c148c092e118c9"],"x":565,"y":820,"wires":[]},{"id":"94c148c092e118c9","type":"link in","z":"043195e570c9684d","name":"link in 81","links":["1c134493f262360e"],"x":1625,"y":680,"wires":[[]]},{"id":"4587f3887649f640","type":"link in","z":"043195e570c9684d","name":"link in 82","links":["bf4b9d24d246aee3"],"x":545,"y":1020,"wires":[["7f279c2579d23a36"]]},{"id":"3ce13b8ccb333ece","type":"change","z":"043195e570c9684d","name":"clear inspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":945,"y":1040,"wires":[["51c6723bed7a760e"]],"l":false},{"id":"51c6723bed7a760e","type":"link out","z":"043195e570c9684d","name":"link out 86","mode":"link","links":["a49ae760c9fc9295","3d5fa9561dc5e724","b4d4be3d6e7d77dd","261d071f2588d76a","1e85fceff218d73d"],"x":995,"y":1040,"wires":[]},{"id":"c8854342c53f8069","type":"function","z":"043195e570c9684d","name":"inspectCheck","func":"var actualMAC = msg.payload;\nvar lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1000,"wires":[["3ce13b8ccb333ece","e22033e659ffe6fe"]]},{"id":"6debd157575965a5","type":"link out","z":"043195e570c9684d","name":"link out 87","mode":"link","links":["5c1edfa7f95b7f70"],"x":2415,"y":1000,"wires":[]},{"id":"b2398764792b24d8","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1865,"y":780,"wires":[["cbe16b252324e74b"]],"l":false},{"id":"7f279c2579d23a36","type":"ui-dropdown","z":"043195e570c9684d","group":"aed9e186926017fe","name":"","label":"MAC","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":650,"y":1000,"wires":[["c8854342c53f8069"]]},{"id":"cbe16b252324e74b","type":"ui-notification","z":"043195e570c9684d","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":1970,"y":780,"wires":[]},{"id":"4e127a4811ae0a81","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1260,"wires":[["5ab11fdd69ac2252"]],"l":false},{"id":"b4d4be3d6e7d77dd","type":"link in","z":"043195e570c9684d","name":"link in 85","links":["51c6723bed7a760e","55c2374a85140be5"],"x":2675,"y":1440,"wires":[["4e127a4811ae0a81","c72c8504dc6d0469","bcf5c830820a1191","9d7db0e245183a28","5c7a3cbf0695c66d","1c6fab00051d7f21","583a87af10dcd462","d0231edbf614d585","56d280644cac8fb5","18f3d00c171998c1"]]},{"id":"c72c8504dc6d0469","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1300,"wires":[["43fab6462a185c2e"]],"l":false},{"id":"bcf5c830820a1191","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1340,"wires":[["9a478b365c3c0a07"]],"l":false},{"id":"9d7db0e245183a28","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1380,"wires":[["daba436722d1b00a"]],"l":false},{"id":"5c7a3cbf0695c66d","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1420,"wires":[["cff28e786737363f"]],"l":false},{"id":"1c6fab00051d7f21","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1460,"wires":[["e3a40c529859bc36"]],"l":false},{"id":"583a87af10dcd462","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1500,"wires":[["230a9cd30ea1cc43"]],"l":false},{"id":"d0231edbf614d585","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1540,"wires":[["2860356b672ab772"]],"l":false},{"id":"56d280644cac8fb5","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1580,"wires":[["15ceea19ea65bcb9"]],"l":false},{"id":"18f3d00c171998c1","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1620,"wires":[["bf46dcb2b7426c99"]],"l":false},{"id":"3d5fa9561dc5e724","type":"link in","z":"043195e570c9684d","name":"link in 86","links":["51c6723bed7a760e","55c2374a85140be5"],"x":3035,"y":1660,"wires":[["6bcb74c85a23c9fe","1e6c35d2a0164ca6","0a7f9a5a5d7b9857","c96e5f0d709e85a8","948d39ada7762b1e","565337018aa72d57","418e046eb14103e5","7d5c31110f3f8880","ffce86dae6281f91","58cd81617244d138","2bf95fb364cadf70","34ac8fc6f4acbe50","acfdde2cc1eeb485","d90277ba92b894e2"]]},{"id":"4c1f25d4d4b7590b","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1260,"wires":[["bbbf82def116110b"]],"l":false},{"id":"224275f86aea5f7f","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1340,"wires":[["9c4d77f3a13c9244"]],"l":false},{"id":"bb6ba0aee4178305","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1380,"wires":[["f6ab65fc1230f281"]],"l":false},{"id":"3f71bcf95835b963","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1420,"wires":[["c606a7acbedd9aef"]],"l":false},{"id":"f48ff4fb2657e546","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1460,"wires":[["acf47212db3839b3"]],"l":false},{"id":"1020c44d7b926e7f","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1500,"wires":[["860a44c7a108d2de"]],"l":false},{"id":"1a135ab673484929","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1640,"wires":[["603fcf589d4320e8"]],"l":false},{"id":"a49ae760c9fc9295","type":"link in","z":"043195e570c9684d","name":"link in 87","links":["51c6723bed7a760e","55c2374a85140be5"],"x":3435,"y":1460,"wires":[["4c1f25d4d4b7590b","224275f86aea5f7f","bb6ba0aee4178305","3f71bcf95835b963","f48ff4fb2657e546","1020c44d7b926e7f","d89b72175fdc7c8f"]]},{"id":"d89b72175fdc7c8f","type":"switch","z":"043195e570c9684d","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3495,"y":1620,"wires":[["ea96efeaa80b68a9"],["1a135ab673484929"]],"l":false},{"id":"ea96efeaa80b68a9","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1600,"wires":[["603fcf589d4320e8"]],"l":false},{"id":"5ab11fdd69ac2252","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1260,"wires":[]},{"id":"43fab6462a185c2e","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1300,"wires":[]},{"id":"9a478b365c3c0a07","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1340,"wires":[]},{"id":"daba436722d1b00a","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1380,"wires":[]},{"id":"cff28e786737363f","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1420,"wires":[]},{"id":"e3a40c529859bc36","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1460,"wires":[]},{"id":"230a9cd30ea1cc43","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1500,"wires":[]},{"id":"2860356b672ab772","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1540,"wires":[]},{"id":"15ceea19ea65bcb9","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1580,"wires":[]},{"id":"bf46dcb2b7426c99","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1620,"wires":[]},{"id":"1f5b54e332bd9ccc","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":2850,"y":1220,"wires":[]},{"id":"619b56b9378ecc0a","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":12,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3210,"y":1380,"wires":[]},{"id":"a42ac75f60610457","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3650,"y":1220,"wires":[]},{"id":"bbbf82def116110b","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1260,"wires":[]},{"id":"abe24785b5cc9044","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3680,"y":1300,"wires":[]},{"id":"9c4d77f3a13c9244","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":3,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1340,"wires":[]},{"id":"f6ab65fc1230f281","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3640,"y":1380,"wires":[]},{"id":"c606a7acbedd9aef","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1420,"wires":[]},{"id":"acf47212db3839b3","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3650,"y":1460,"wires":[]},{"id":"860a44c7a108d2de","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3630,"y":1500,"wires":[]},{"id":"603fcf589d4320e8","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":10,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3680,"y":1640,"wires":[]},{"id":"280ca1cb96ceca97","type":"ui-text","z":"043195e570c9684d","group":"396cf02876da2482","order":9,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3630,"y":1600,"wires":[]},{"id":"90e6192d9b4e41a2","type":"link in","z":"043195e570c9684d","name":"link in 88","links":["15e0f953e96d2c05","9df5f842d86ebdc3"],"x":3035,"y":720,"wires":[["af700c221c5860dc"]]},{"id":"5747f3c0eba892a4","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":840,"wires":[["11b25fc9d1b1cf17"]],"l":false},{"id":"11b25fc9d1b1cf17","type":"range","z":"043195e570c9684d","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3485,"y":800,"wires":[["bb4a1b61c6f954f4"]],"l":false},{"id":"5c1edfa7f95b7f70","type":"link in","z":"043195e570c9684d","name":"link in 89","links":["6debd157575965a5","15e0f953e96d2c05"],"x":3375,"y":840,"wires":[["5747f3c0eba892a4"]]},{"id":"55594d576288de0b","type":"ui-text","z":"043195e570c9684d","group":"6ab3e9de8809a766","order":1,"width":"0","height":"0","name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vpTitlesText","x":3230,"y":680,"wires":[]},{"id":"1a7030fb1bfa64cf","type":"ui-gauge","z":"043195e570c9684d","name":"vpTempGauge","group":"6ab3e9de8809a766","order":3,"width":"2","height":"4","gtype":"gauge-34","gstyle":"needle","title":"","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":"20","sizeGap":"10","sizeKeyThickness":"8","styleRounded":true,"styleGlow":false,"className":"vibrationPlusGauge","x":3220,"y":760,"wires":[]},{"id":"a77e8f860df9cdd3","type":"ui-template","z":"043195e570c9684d","group":"6ab3e9de8809a766","page":"","ui":"","name":"vpLine","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"vpLine\"></div>\n</template>\n\n<style>\n.vpLine{\n  position: relative;\n  border-left: 2000px solid grey ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: -34px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3250,"y":720,"wires":[[]]},{"id":"996c42d207c14aba","type":"ui-text","z":"043195e570c9684d","group":"2aecf7e3e67ec0a6","order":1,"width":"1","height":"1","name":"","label":"ODR","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vpTitlesText","x":2930,"y":680,"wires":[]},{"id":"cb34bd5a9bfd15cd","type":"ui-text","z":"043195e570c9684d","group":"dbbc6dd8de31c846","order":2,"width":"4","height":"1","name":"","label":"X - ACC ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3000,"y":920,"wires":[]},{"id":"7bf4dc27d4be6b51","type":"ui-chart","z":"043195e570c9684d","group":"7bce74f6ddaf5df0","name":"vpBatteryChart","label":"","order":4,"chartType":"line","category":"[\"battery\",\"\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"[0].battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#36d2f8","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vibrationPlusBatteryPrecentChart","x":3620,"y":760,"wires":[[]]},{"id":"bb4a1b61c6f954f4","type":"ui-template","z":"043195e570c9684d","group":"7bce74f6ddaf5df0","page":"","ui":"","name":"vpBatteryPercent","order":3,"width":"1","height":"4","head":"","format":"<template>\n    <v-progress-circular class=\"vpCircular\" :rotate=\"180\" bg-color=\"#053a66\" model-value=\"20\" :size=\"180\" :width=\"5\" color=\"#36d2f8\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"white\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div class=\"vpScale\">\n                {{ msg.scale }}%\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.vpCircular{\n    font-size: 30px;\n    font-weight: bold !important;\n    top: -76px !important;\n    left: 0px !important;\n}\n.vpScale{\n    color: #ffffff;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3610,"y":800,"wires":[[]]},{"id":"af700c221c5860dc","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3085,"y":720,"wires":[["1a7030fb1bfa64cf"]],"l":false},{"id":"e8eadd8f1ac429f7","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2835,"y":760,"wires":[["154ecbdb23ddf01a"]],"l":false},{"id":"bcab298ef595f49d","type":"link in","z":"043195e570c9684d","name":"link in 90","links":["15e0f953e96d2c05","9df5f842d86ebdc3"],"x":2785,"y":760,"wires":[["e8eadd8f1ac429f7"]]},{"id":"1e85fceff218d73d","type":"link in","z":"043195e570c9684d","name":"link in 93","links":["51c6723bed7a760e"],"x":3375,"y":680,"wires":[["2a19adcc03faaefd"]]},{"id":"2a19adcc03faaefd","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":680,"wires":[["c76fe27ccb6fd037","7bf4dc27d4be6b51","bb4a1b61c6f954f4"]],"l":false},{"id":"30bcc6f673b5632f","type":"link in","z":"043195e570c9684d","name":"link in 94","links":["15e0f953e96d2c05","11e35f4e48f94284"],"x":3375,"y":720,"wires":[["7bf4dc27d4be6b51"]]},{"id":"16e5ac873602d860","type":"link in","z":"043195e570c9684d","name":"link in 95","links":["bf4b9d24d246aee3","c76fe27ccb6fd037"],"x":3085,"y":760,"wires":[["1a7030fb1bfa64cf","27177f696970ba49"]]},{"id":"0b2c5d67a52aa71d","type":"link in","z":"043195e570c9684d","name":"link in 96","links":["bf4b9d24d246aee3","c76fe27ccb6fd037"],"x":2785,"y":800,"wires":[["154ecbdb23ddf01a"]]},{"id":"18c23c601fa34721","type":"link in","z":"043195e570c9684d","name":"link in 99","links":["bf4b9d24d246aee3"],"x":3375,"y":800,"wires":[["11b25fc9d1b1cf17","7bf4dc27d4be6b51"]]},{"id":"27177f696970ba49","type":"ui-chart","z":"043195e570c9684d","group":"6ab3e9de8809a766","name":"vpTempChart","label":"","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#5cd65c","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vibrationPlusTemperatureChart","x":3230,"y":800,"wires":[[]]},{"id":"154ecbdb23ddf01a","type":"ui-text","z":"043195e570c9684d","group":"2aecf7e3e67ec0a6","order":3,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"32","color":"#ffffff","className":"vibrationPlusValueODR","x":2930,"y":800,"wires":[]},{"id":"6d118e85b4e93dc5","type":"ui-template","z":"043195e570c9684d","group":"2aecf7e3e67ec0a6","page":"","ui":"","name":"vibrationPlusLine","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"lineVP2\"></div>\n</template>\n\n<style>\n.lineVP2{\n  position: absolute;\n  border-left: 200px solid grey ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: 40px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2890,"y":720,"wires":[[]]},{"id":"7c0dea051c06e1fe","type":"ui-chart","z":"043195e570c9684d","group":"dbbc6dd8de31c846","name":"vpX-ACC","label":"","order":1,"chartType":"line","category":"[\"x_rms_ACC_G\",\"x_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3000,"y":960,"wires":[[]]},{"id":"4ee7dbcb08256bf5","type":"ui-template","z":"043195e570c9684d","group":"7bce74f6ddaf5df0","page":"","ui":"","name":"vpLine","order":2,"width":"5","height":"1","head":"","format":"<template>\n    <div class=\"vpLine\"></div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3650,"y":720,"wires":[[]]},{"id":"b740463c58d485a4","type":"ui-text","z":"043195e570c9684d","group":"7bce74f6ddaf5df0","order":1,"width":"5","height":"1","name":"","label":"Battery Percent","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vpTitlesText","x":3620,"y":680,"wires":[]},{"id":"978529c091eac524","type":"ui-text","z":"043195e570c9684d","group":"06a5c0f9ef44037b","order":2,"width":"4","height":"1","name":"","label":"X - Vel / Displ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3240,"y":920,"wires":[]},{"id":"94b41b0dca8033f6","type":"ui-chart","z":"043195e570c9684d","group":"06a5c0f9ef44037b","name":"vpX-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"x_velocity_mm_sec\",\"x_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3250,"y":960,"wires":[[]]},{"id":"78e06190c8b4ec5e","type":"ui-text","z":"043195e570c9684d","group":"7f95312d21e8cce2","order":2,"width":"4","height":"1","name":"X - Peak (Hz)","label":"X - Peak","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3480,"y":920,"wires":[]},{"id":"d9e3767bd5e11937","type":"ui-chart","z":"043195e570c9684d","group":"7f95312d21e8cce2","name":"vpX-Peak","label":"","order":1,"chartType":"line","category":"[\"x_peak_one_Hz\",\"x_peak_two_Hz\",\"x_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3500,"y":960,"wires":[[]]},{"id":"41b7bcdf95643daf","type":"ui-text","z":"043195e570c9684d","group":"578fa6eb8fb8d3a2","order":2,"width":"4","height":"1","name":"","label":"Y - ACC ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3000,"y":1000,"wires":[]},{"id":"9c775ed0af28f438","type":"ui-chart","z":"043195e570c9684d","group":"578fa6eb8fb8d3a2","name":"vpY-ACC","label":"","order":1,"chartType":"line","category":"[\"y_rms_ACC_G\",\"y_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3000,"y":1040,"wires":[[]]},{"id":"d66f443c32c58cbb","type":"ui-text","z":"043195e570c9684d","group":"40809daecc6f58c9","order":2,"width":"4","height":"1","name":"","label":"Y - Vel / Displ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3240,"y":1000,"wires":[]},{"id":"44d86bcf31af0079","type":"ui-chart","z":"043195e570c9684d","group":"40809daecc6f58c9","name":"vpY-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"y_velocity_mm_sec\",\"y_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3250,"y":1040,"wires":[[]]},{"id":"87665e0de9f6f128","type":"ui-text","z":"043195e570c9684d","group":"f00f7903643ff90f","order":2,"width":"4","height":"1","name":"Y - Peak (Hz)","label":"Y - Peak","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3480,"y":1000,"wires":[]},{"id":"9d11ebbafbebf815","type":"ui-chart","z":"043195e570c9684d","group":"f00f7903643ff90f","name":"vpY-Peak","label":"","order":1,"chartType":"line","category":"[\"y_peak_one_Hz\",\"y_peak_two_Hz\",\"y_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3500,"y":1040,"wires":[[]]},{"id":"cffb70f8eb4f01b3","type":"ui-text","z":"043195e570c9684d","group":"e3aafa58f59f702a","order":2,"width":"4","height":"1","name":"","label":"Z - ACC ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3000,"y":1080,"wires":[]},{"id":"d44b8133d0032393","type":"ui-chart","z":"043195e570c9684d","group":"e3aafa58f59f702a","name":"vpZ-ACC","label":"","order":1,"chartType":"line","category":"[\"z_rms_ACC_G\",\"z_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3000,"y":1120,"wires":[[]]},{"id":"5b705425c77b469a","type":"ui-text","z":"043195e570c9684d","group":"5e5a4a35471bba91","order":2,"width":"4","height":"1","name":"","label":"Z - Vel / Displ","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3250,"y":1080,"wires":[]},{"id":"5b34e3823452064a","type":"ui-chart","z":"043195e570c9684d","group":"5e5a4a35471bba91","name":"vpZ-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"z_velocity_mm_sec\",\"z_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3250,"y":1120,"wires":[[]]},{"id":"0d0a1a531c53a06a","type":"ui-text","z":"043195e570c9684d","group":"5de99fb878b30612","order":2,"width":"4","height":"1","name":"Z - Peak (Hz)","label":"Z - Peak","format":"{{msg.payload}}","layout":"row-right","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3490,"y":1080,"wires":[]},{"id":"96d321ba41dd19f3","type":"ui-chart","z":"043195e570c9684d","group":"5de99fb878b30612","name":"vpZ-Peak","label":"","order":1,"chartType":"line","category":"[\"z_peak_one_Hz\",\"z_peak_two_Hz\",\"z_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vibrationPlusXAccChart","x":3500,"y":1120,"wires":[[]]},{"id":"672d1596b929fe61","type":"link in","z":"043195e570c9684d","name":"link in 113","links":["15e0f953e96d2c05","11e35f4e48f94284"],"x":3085,"y":800,"wires":[["27177f696970ba49"]]},{"id":"29db896bdbe704e9","type":"link in","z":"043195e570c9684d","name":"link in 114","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","11e35f4e48f94284","15e0f953e96d2c05"],"x":2905,"y":960,"wires":[["7c0dea051c06e1fe"]]},{"id":"f08296d37c8f3aba","type":"link in","z":"043195e570c9684d","name":"link in 115","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","15e0f953e96d2c05","11e35f4e48f94284"],"x":2905,"y":1040,"wires":[["9c775ed0af28f438"]]},{"id":"f8b55adc9cd5d2b6","type":"link in","z":"043195e570c9684d","name":"link in 116","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","15e0f953e96d2c05","11e35f4e48f94284"],"x":2905,"y":1120,"wires":[["d44b8133d0032393"]]},{"id":"21ab969fdb30288f","type":"link in","z":"043195e570c9684d","name":"link in 117","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","15e0f953e96d2c05","11e35f4e48f94284"],"x":3145,"y":960,"wires":[["94b41b0dca8033f6"]]},{"id":"6c72da5b2f90c170","type":"link in","z":"043195e570c9684d","name":"link in 118","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","15e0f953e96d2c05","11e35f4e48f94284"],"x":3145,"y":1040,"wires":[["44d86bcf31af0079"]]},{"id":"71fe5998a0986d47","type":"link in","z":"043195e570c9684d","name":"link in 119","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","11e35f4e48f94284","15e0f953e96d2c05"],"x":3145,"y":1120,"wires":[["5b34e3823452064a"]]},{"id":"999d7d7460edd890","type":"link in","z":"043195e570c9684d","name":"link in 120","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","15e0f953e96d2c05","11e35f4e48f94284"],"x":3405,"y":960,"wires":[["d9e3767bd5e11937"]]},{"id":"ba5f531a90b5c137","type":"link in","z":"043195e570c9684d","name":"link in 121","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","15e0f953e96d2c05","11e35f4e48f94284"],"x":3405,"y":1040,"wires":[["9d11ebbafbebf815"]]},{"id":"3b39bce2d676b838","type":"link in","z":"043195e570c9684d","name":"link in 122","links":["bf4b9d24d246aee3","c76fe27ccb6fd037","15e0f953e96d2c05","11e35f4e48f94284"],"x":3405,"y":1120,"wires":[["96d321ba41dd19f3"]]},{"id":"6bcb74c85a23c9fe","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1420,"wires":[["632d8c4a2a97bbca"]],"l":false},{"id":"632d8c4a2a97bbca","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":5,"width":"0","height":"0","name":"y-rms-ACC-G","label":"y-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1420,"wires":[]},{"id":"1e6c35d2a0164ca6","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1460,"wires":[["041cab0549b61906"]],"l":false},{"id":"041cab0549b61906","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":6,"width":"0","height":"0","name":"y-max-ACC-G","label":"y-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1460,"wires":[]},{"id":"d660867dda229bb0","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":7,"width":"0","height":"0","name":"y-Velocity-mm-sec","label":"y-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1500,"wires":[]},{"id":"0a7f9a5a5d7b9857","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1500,"wires":[["d660867dda229bb0"]],"l":false},{"id":"faf1c8219d057c27","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":8,"width":"0","height":"0","name":"y-Displacement-mm-sec","label":"y-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1540,"wires":[]},{"id":"c96e5f0d709e85a8","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1540,"wires":[["faf1c8219d057c27"]],"l":false},{"id":"3153f323e48cccb8","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":9,"width":"0","height":"0","name":"y-Peak-One (Hz)","label":"y-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1580,"wires":[]},{"id":"948d39ada7762b1e","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1580,"wires":[["3153f323e48cccb8"]],"l":false},{"id":"0582d37cf27112ce","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":10,"width":"0","height":"0","name":"y-Peak-Two (Hz)","label":"y-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1620,"wires":[]},{"id":"565337018aa72d57","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1620,"wires":[["0582d37cf27112ce"]],"l":false},{"id":"3d7790aa4249c071","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":11,"width":"0","height":"0","name":"y-Peak-Three (Hz)","label":"y-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1660,"wires":[]},{"id":"418e046eb14103e5","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1660,"wires":[["3d7790aa4249c071"]],"l":false},{"id":"261d071f2588d76a","type":"link in","z":"043195e570c9684d","name":"link in 123","links":["51c6723bed7a760e","55c2374a85140be5"],"x":2665,"y":1800,"wires":[["efa990cb8b48c606","2a7c2999f45eeb63","420bab757b732c21","14ce400b113aeed2","e77c89b827a1bbca","8da78c4f0e675def","26645ae62316a795","0e69a567ebbf2967","32ecec63f08de2a7","3ec81730b118527e"]]},{"id":"efa990cb8b48c606","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1680,"wires":[["31a3758ce45cf8f1"]],"l":false},{"id":"2a7c2999f45eeb63","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1720,"wires":[["432882531ab05f45"]],"l":false},{"id":"420bab757b732c21","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1760,"wires":[["39c6ec57534bbe38"]],"l":false},{"id":"31a3758ce45cf8f1","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":13,"width":"0","height":"0","name":"mode:","label":"mode:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1680,"wires":[]},{"id":"432882531ab05f45","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":14,"width":"0","height":"0","name":"odr","label":"odr:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1720,"wires":[]},{"id":"39c6ec57534bbe38","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":15,"width":"0","height":"0","name":"Temperature","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1760,"wires":[]},{"id":"14ce400b113aeed2","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1800,"wires":[["51e1203bfc1bdcc1"]],"l":false},{"id":"51e1203bfc1bdcc1","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":16,"width":"0","height":"0","name":"x-rms-ACC-G","label":"x-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1800,"wires":[]},{"id":"e77c89b827a1bbca","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1840,"wires":[["e0333d83964851ce"]],"l":false},{"id":"e0333d83964851ce","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":17,"width":"0","height":"0","name":"x-max-ACC-G","label":"x-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1840,"wires":[]},{"id":"657c0fbe19fe4731","type":"ui-text","z":"043195e570c9684d","group":"eda448f8b1b2ea23","order":18,"width":"0","height":"0","name":"x-Velocity-mm-sec","label":"x-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1880,"wires":[]},{"id":"8da78c4f0e675def","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1880,"wires":[["657c0fbe19fe4731"]],"l":false},{"id":"b6a97247bfed86d4","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":1,"width":"0","height":"0","name":"x-Displacement-mm-sec","label":"x-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2910,"y":1920,"wires":[]},{"id":"26645ae62316a795","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1920,"wires":[["b6a97247bfed86d4"]],"l":false},{"id":"9aac808ce79b8d0d","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":2,"width":"0","height":"0","name":"x-Peak-One (Hz)","label":"x-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1960,"wires":[]},{"id":"0e69a567ebbf2967","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":1960,"wires":[["9aac808ce79b8d0d"]],"l":false},{"id":"a48b9772869f0ba2","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":3,"width":"0","height":"0","name":"x-Peak-Two (Hz)","label":"x-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":2000,"wires":[]},{"id":"32ecec63f08de2a7","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":2000,"wires":[["a48b9772869f0ba2"]],"l":false},{"id":"06c23b2cd474b90e","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":4,"width":"0","height":"0","name":"x-Peak-Three (Hz)","label":"x-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":2040,"wires":[]},{"id":"3ec81730b118527e","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2765,"y":2040,"wires":[["06c23b2cd474b90e"]],"l":false},{"id":"a5a1451caabde8bd","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":18,"width":"0","height":"0","name":"z-Peak-Three (Hz)","label":"z-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1940,"wires":[]},{"id":"7d5c31110f3f8880","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1700,"wires":[["bac1a816e1513bb9"]],"l":false},{"id":"bac1a816e1513bb9","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":12,"width":"0","height":"0","name":"z-rms-ACC-G","label":"z-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1700,"wires":[]},{"id":"ffce86dae6281f91","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1740,"wires":[["4c8175f090ef94bc"]],"l":false},{"id":"4c8175f090ef94bc","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":13,"width":"0","height":"0","name":"z-max-ACC-G","label":"z-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3240,"y":1740,"wires":[]},{"id":"07f928c07f82c772","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":14,"width":"0","height":"0","name":"z-Velocity-mm-sec","label":"z-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1780,"wires":[]},{"id":"58cd81617244d138","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1780,"wires":[["07f928c07f82c772"]],"l":false},{"id":"affaa159e5acbd9d","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":15,"width":"0","height":"0","name":"z-Displacement-mm-sec","label":"z-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1820,"wires":[]},{"id":"2bf95fb364cadf70","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1820,"wires":[["affaa159e5acbd9d"]],"l":false},{"id":"95ee0dddd8bd2da5","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":16,"width":"0","height":"0","name":"z-Peak-One (Hz)","label":"z-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1860,"wires":[]},{"id":"34ac8fc6f4acbe50","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1860,"wires":[["95ee0dddd8bd2da5"]],"l":false},{"id":"912883d404edeccb","type":"ui-text","z":"043195e570c9684d","group":"60f4e9445cc08fb7","order":17,"width":"0","height":"0","name":"z-Peak-Two (Hz)","label":"z-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1900,"wires":[]},{"id":"acfdde2cc1eeb485","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1900,"wires":[["912883d404edeccb"]],"l":false},{"id":"d90277ba92b894e2","type":"change","z":"043195e570c9684d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3125,"y":1940,"wires":[["a5a1451caabde8bd"]],"l":false},{"id":"c76fe27ccb6fd037","type":"link out","z":"043195e570c9684d","name":"link out 95","mode":"link","links":["29db896bdbe704e9","f08296d37c8f3aba","16e5ac873602d860","f8b55adc9cd5d2b6","21ab969fdb30288f","6c72da5b2f90c170","71fe5998a0986d47","999d7d7460edd890","ba5f531a90b5c137","3b39bce2d676b838","0b2c5d67a52aa71d"],"x":3495,"y":680,"wires":[]},{"id":"03219aa1fbb6283d","type":"switch","z":"043195e570c9684d","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1815,"y":780,"wires":[["b2398764792b24d8"]],"l":false},{"id":"55c2374a85140be5","type":"link out","z":"043195e570c9684d","name":"link out 96","mode":"link","links":["b4d4be3d6e7d77dd","261d071f2588d76a","3d5fa9561dc5e724","a49ae760c9fc9295"],"x":2405,"y":840,"wires":[]},{"id":"2d32333322148b58","type":"function","z":"043195e570c9684d","g":"95af5309265a05cb","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3380,"y":440,"wires":[["9d86cbc7387eb9d5"]]},{"id":"d6ca7f65c0cdd05c","type":"http response","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","statusCode":"","headers":{},"x":3670,"y":440,"wires":[]},{"id":"9d86cbc7387eb9d5","type":"file in","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3540,"y":440,"wires":[["d6ca7f65c0cdd05c"]]},{"id":"223905a2cf1dc2cd","type":"catch","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","scope":["9d86cbc7387eb9d5"],"uncaught":false,"x":3230,"y":500,"wires":[["69f176502ddb6172","96e454e2da052933","b593cb111a69e12f"]]},{"id":"3e261f52d0ae4c0d","type":"http in","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":2750,"y":440,"wires":[["b4a1e998cc6f54ca","689d7eb836d8efc0"]]},{"id":"fa89e20e54ccf898","type":"change","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"vpDateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3210,"y":440,"wires":[["2d32333322148b58"]]},{"id":"b4a1e998cc6f54ca","type":"change","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2875,"y":420,"wires":[["f200ddf74d763e1d"]],"l":false},{"id":"689d7eb836d8efc0","type":"change","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2875,"y":460,"wires":[["137cf4a6b670a0a2"]],"l":false},{"id":"f200ddf74d763e1d","type":"switch","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2925,"y":420,"wires":[["dcd1ab83177a78ba"]],"l":false},{"id":"137cf4a6b670a0a2","type":"switch","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2925,"y":460,"wires":[["fab3b210599b4526"]],"l":false},{"id":"dcd1ab83177a78ba","type":"change","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vpmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3040,"y":420,"wires":[["fa89e20e54ccf898"]]},{"id":"8c34a9cd193f30a7","type":"ui-notification","z":"043195e570c9684d","g":"95af5309265a05cb","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":3640,"y":480,"wires":[]},{"id":"69f176502ddb6172","type":"function","z":"043195e570c9684d","g":"95af5309265a05cb","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3400,"y":480,"wires":[["091a1bbe50d09d5a"]]},{"id":"091a1bbe50d09d5a","type":"trigger","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3515,"y":480,"wires":[["8c34a9cd193f30a7"]],"l":false},{"id":"fab3b210599b4526","type":"change","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vpmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3040,"y":460,"wires":[["fa89e20e54ccf898"]]},{"id":"96e454e2da052933","type":"http response","z":"043195e570c9684d","g":"95af5309265a05cb","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/vibrationplus"},"x":3390,"y":520,"wires":[]},{"id":"7b4f94f24473dfb9","type":"function","z":"043195e570c9684d","g":"95af5309265a05cb","name":"checkLastFlagType","func":"let unit = {};\nunit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-vibration-plus:vibrationPlusInspect1\",\n            \"ncd-vibration-plus:vibrationPlusInspect2\",\n            \"ncd-vibration-plus:vibrationPlusInspect3\"\n        ],\n        show: [\n            \"ncd-vibration-plus:vibrationPlusODR\",\n            \"ncd-vibration-plus:vibrationPlusTemperature\",\n            \"ncd-vibration-plus:vibrationPlusBattery\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n        ],\n        enable : \n        [\n            \"ncd-vibration-plus:vibrationPlusDownload\",\n            \"ncd-vibration-plus:vibrationPlusSelectMAC\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3470,"y":560,"wires":[["83c382534d3415f9"]]},{"id":"b593cb111a69e12f","type":"trigger","z":"043195e570c9684d","g":"95af5309265a05cb","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3335,"y":560,"wires":[["7b4f94f24473dfb9"]],"l":false},{"id":"83c382534d3415f9","type":"link out","z":"043195e570c9684d","g":"95af5309265a05cb","name":"link out 91","mode":"link","links":["aa857716c8cbc5a5"],"x":3595,"y":560,"wires":[]},{"id":"91a5c8d3d70cc47c","type":"function","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"inspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\n\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    flow.set(\"vpInspect\", true);\n    unit = {\n        groups: \n        { \n            show: [\n                \"ncd-vibration-plus:vibrationPlusInspect1\",\n                \"ncd-vibration-plus:vibrationPlusInspect2\",\n                \"ncd-vibration-plus:vibrationPlusInspect3\"],\n            hide: \n            [\n               \"ncd-vibration-plus:vibrationPlusODR\",\n               \"ncd-vibration-plus:vibrationPlusTemperature\",\n               \"ncd-vibration-plus:vibrationPlusBattery\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n            ],\n            disable: \n            [\n                \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n                \"ncd-vibration-plus:vibrationPlusDownload\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"vpInspect\", false);\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-vibration-plus:vibrationPlusInspect1\",\n                \"ncd-vibration-plus:vibrationPlusInspect2\",\n                \"ncd-vibration-plus:vibrationPlusInspect3\"\n            ],\n            show: [\n               \"ncd-vibration-plus:vibrationPlusODR\",\n               \"ncd-vibration-plus:vibrationPlusTemperature\",\n               \"ncd-vibration-plus:vibrationPlusBattery\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n               \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\", \n               \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n            ],\n            enable : \n            [\n                \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n                \"ncd-vibration-plus:vibrationPlusDownload\"\n            ]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":240,"wires":[["91131f71bf01b698"]]},{"id":"9bb28a4c8e1246ce","type":"ui-template","z":"043195e570c9684d","g":"be34cafe15074ed3","group":"","page":"0c7341728de5e004","ui":"","name":"inspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"vibrationPlusInspectButton\" @click=\"send({payload:true})\" color=\"#021c35\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.vibrationPlusInspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2760,"y":240,"wires":[["91a5c8d3d70cc47c"]]},{"id":"91131f71bf01b698","type":"ui-control","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"","ui":"ec459411017ddf37","events":"change","x":3140,"y":260,"wires":[[]]},{"id":"f04c27227bd29867","type":"function","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"initShow","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-vibration-plus:vibrationPlusInspect1\",\n            \"ncd-vibration-plus:vibrationPlusInspect2\",\n            \"ncd-vibration-plus:vibrationPlusInspect3\"\n        ],\n        show:\n        [\n            \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n            \"ncd-vibration-plus:vibrationPlusDownload\",\n            \"ncd-vibration-plus:vibrationPlusODR\",\n            \"ncd-vibration-plus:vibrationPlusTemperature\",\n            \"ncd-vibration-plus:vibrationPlusBattery\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_x\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_y\",\n            \"ncd-vibration-plus:vibrationPlusACCGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusVelDisplGroup_z\",\n            \"ncd-vibration-plus:vibrationPlusOneTwoThreeGroup_z\"\n        ],\n        enable:\n        [\n            \"ncd-vibration-plus:vibrationPlusSelectMAC\",\n            \"ncd-vibration-plus:vibrationPlusDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2960,"y":280,"wires":[["91131f71bf01b698"]]},{"id":"166b98834c19ebf2","type":"ui-event","z":"043195e570c9684d","g":"be34cafe15074ed3","ui":"ec459411017ddf37","name":"","x":2730,"y":280,"wires":[["f04c27227bd29867"]]},{"id":"63f48ca3ce34f353","type":"link in","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"link in 83","links":[],"x":3005,"y":320,"wires":[["91131f71bf01b698"]]},{"id":"37300fb1ba0d9b16","type":"inject","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":2795,"y":320,"wires":[["a46498e6245cd887"]],"l":false},{"id":"a46498e6245cd887","type":"change","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"","rules":[{"t":"delete","p":"vpMAC","pt":"flow"},{"t":"delete","p":"vpmacSelection","pt":"flow"},{"t":"delete","p":"vpDateDownloadFile","pt":"flow"},{"t":"delete","p":"vpInspect","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2845,"y":320,"wires":[["f04c27227bd29867","bf4b9d24d246aee3"]],"icon":"font-awesome/fa-remove","l":false},{"id":"bf4b9d24d246aee3","type":"link out","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"link out 92","mode":"link","links":["4587f3887649f640","16e5ac873602d860","0b2c5d67a52aa71d","18c23c601fa34721","29db896bdbe704e9","f08296d37c8f3aba","f8b55adc9cd5d2b6","21ab969fdb30288f","6c72da5b2f90c170","71fe5998a0986d47","999d7d7460edd890","ba5f531a90b5c137","3b39bce2d676b838"],"x":2925,"y":320,"wires":[]},{"id":"aa857716c8cbc5a5","type":"link in","z":"043195e570c9684d","g":"be34cafe15074ed3","name":"link in 84","links":["83c382534d3415f9"],"x":2995,"y":200,"wires":[["91131f71bf01b698"]]},{"id":"2664ccde11b46bee","type":"ui-text-input","z":"043195e570c9684d","g":"9f4199a65b226415","group":"902ac52103afa4b5","name":"vpDatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"vpDatePicker","x":3350,"y":320,"wires":[["0c105b2658c88750"]]},{"id":"b1fb7ec76b9f0a5e","type":"ui-template","z":"043195e570c9684d","g":"9f4199a65b226415","group":"902ac52103afa4b5","page":"","ui":"","name":"vpDownload","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd-vibration-plus.csv\">\n        <v-btn class=\"vpButtonDownload\" color=\"#021c35\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.vpButtonDownload {\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3770,"y":320,"wires":[[]]},{"id":"0c105b2658c88750","type":"change","z":"043195e570c9684d","g":"9f4199a65b226415","name":"","rules":[{"t":"set","p":"vpDateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3560,"y":320,"wires":[[]]},{"id":"8113151a2da45a13","type":"ui-template","z":"043195e570c9684d","g":"108b08b06e2d677a","group":"","page":"0c7341728de5e004","ui":"","name":"vpStyle","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #021c35 !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  20px !important;\n    background-color: #022955 !important;\n    border-color: #022955  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #053a66 !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #053a66 !important;\n}\n.vpInspectGroup .v-card{\n    height: 1077px !important;\n}\n.groupVibrationPlusBattChart .v-card{\n    height: 225px !important;\n}\n.vpGroupsCharts .v-card{\n    height: 265px !important;\n}\n.vpGroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.vpGroupSelectMac .bg-group-background{\n    background-color: #053a66 !important;\n    border-color: #053a66  !important;\n}\n.vpGroupSelectMac .v-card{\n    height: 92px !important;\n}\n.vpDatePicker{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.vpGrupoDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.vpGrupoDownload .bg-group-background{\n    background-color: #053a66 !important;\n    border-color: #053a66  !important;\n}\n.vpGrupoDownload .v-card{\n    height: 155px !important;\n}\n.vibrationPlusGauge {\n    top:-76px !important;\n    left: 0px !important;\n}\n.vibrationPlusGauge .nrdb-ui-gauge-value span {\n    position: relative;\n    top: -3px !important;\n    font-size: 2.0rem !important;\n    line-height: 4.75rem !important;\n}\n.v-card-text .vibrationPlusGauge{\n    color: white !important;\n    font-size: 0.0rem !important;\n}\n.vibrationPlusGauge .nrdb-ui-gauge-value label {\n    color: white !important;\n    font-size: 1.75rem;\n    line-height: 0.825rem;\n}\n.vibrationPlusBatteryPrecentChart {\n    position: relative;\n    top: -110px !important;\n}\n.vibrationPlusGauge #backdrop path {\n    fill: #053a66 !important;\n}\n/*needle color*/\n.nrdb-ui-gauge #needle polygon{\n    fill: #ffffff !important;\n}\n.vibrationPlusGauge .nrdb-ui-gauge-value span {\n  color: #ffffff;\n}\n.vpTitlesText .nrdb-ui-text-label{\n    position: absolute;\n    top: 10px !important;\n    font-size: 25px !important;\n    color: #ffffff;\n}\n.vibrationPlusTemperatureChart {\n    position: relative;\n    left: 5px !important;\n    top: -110px !important;\n    width: 670px;\n}\n.vibrationPlusGroupODR .v-card{\n    width: 160px !important;\n    height: 246px !important;\n}\n.vibrationPlusValueODR .nrdb-ui-text-value{\n    position: relative;\n    top: -18px !important;\n}\n.vibrationPlusXAccChart{\n    position: relative;\n    top: -43px !important;\n}\n.vibrationPlusGroupTempBatt .v-card{\n    height: 246px !important;\n}\n.vibrationPlusChartsText .nrdb-ui-text-label{\n    position: absolute;\n    top: 10px !important;\n    font-size: 18px !important;\n    color: #ffffff;\n}\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":3660,"y":220,"wires":[[]]},{"id":"c034f6e31e838a34","type":"ui-template","z":"043195e570c9684d","g":"108b08b06e2d677a","group":"","page":"0c7341728de5e004","ui":"","name":"vpLogo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"vplogo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.vplogo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3520,"y":220,"wires":[[]]},{"id":"e4f53f54fcfc2273","type":"ui-template","z":"043195e570c9684d","g":"108b08b06e2d677a","group":"","page":"0c7341728de5e004","ui":"","name":"vpProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/smart-industrial-iot-wireless-vibration-temperature-sensor/\" target=\"_blank\">\n        <v-btn class=\"vpInfoButton\" color=\"#021c35\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.vpInfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3360,"y":220,"wires":[[]]},{"id":"1cf03d5c03c27d71","type":"junction","z":"043195e570c9684d","x":1890,"y":1080,"wires":[["eac3342a63c9c339"]]},{"id":"4fbba7e20c91cfe4","type":"junction","z":"043195e570c9684d","x":740,"y":740,"wires":[["3a10fa685c4318ba","1d610755328b753e"]]},{"id":"f7a6562939b6469e","type":"junction","z":"043195e570c9684d","x":520,"y":980,"wires":[["7f279c2579d23a36"]]},{"id":"95af5309265a05cb","type":"group","z":"043195e570c9684d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2d32333322148b58","d6ca7f65c0cdd05c","9d86cbc7387eb9d5","223905a2cf1dc2cd","3e261f52d0ae4c0d","fa89e20e54ccf898","b4a1e998cc6f54ca","689d7eb836d8efc0","f200ddf74d763e1d","137cf4a6b670a0a2","dcd1ab83177a78ba","8c34a9cd193f30a7","69f176502ddb6172","091a1bbe50d09d5a","fab3b210599b4526","96e454e2da052933","7b4f94f24473dfb9","b593cb111a69e12f","83c382534d3415f9"],"x":2654,"y":379,"w":1102,"h":222},{"id":"be34cafe15074ed3","type":"group","z":"043195e570c9684d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["91a5c8d3d70cc47c","9bb28a4c8e1246ce","91131f71bf01b698","f04c27227bd29867","166b98834c19ebf2","63f48ca3ce34f353","37300fb1ba0d9b16","a46498e6245cd887","bf4b9d24d246aee3","aa857716c8cbc5a5"],"x":2654,"y":159,"w":572,"h":202},{"id":"9f4199a65b226415","type":"group","z":"043195e570c9684d","name":"","style":{"fill":"none","label":true},"nodes":["2664ccde11b46bee","b1fb7ec76b9f0a5e","0c105b2658c88750"],"x":3254,"y":279,"w":612,"h":82},{"id":"108b08b06e2d677a","type":"group","z":"043195e570c9684d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8113151a2da45a13","c034f6e31e838a34","e4f53f54fcfc2273"],"x":3254,"y":179,"w":492,"h":82},{"id":"aed9e186926017fe","type":"ui-group","name":"vibrationPlusSelectMAC","page":"0c7341728de5e004","width":"6","height":"1","order":1,"showTitle":false,"className":"vpGroupSelectMac","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"eda448f8b1b2ea23","type":"ui-group","name":"vibrationPlusInspect1","page":"0c7341728de5e004","width":"4","height":"1","order":15,"showTitle":false,"className":"vpInspectGroup","visible":"true","disabled":"false"},{"id":"396cf02876da2482","type":"ui-group","name":"vibrationPlusInspect3","page":"0c7341728de5e004","width":"4","height":"1","order":17,"showTitle":false,"className":"vpInspectGroup","visible":"true","disabled":"false"},{"id":"6ab3e9de8809a766","type":"ui-group","name":"vibrationPlusTemperature","page":"0c7341728de5e004","width":"6","height":"1","order":4,"showTitle":false,"className":"vibrationPlusGroupTempBatt","visible":"true","disabled":"false"},{"id":"2aecf7e3e67ec0a6","type":"ui-group","name":"vibrationPlusODR","page":"0c7341728de5e004","width":"1","height":"1","order":3,"showTitle":false,"className":"vibrationPlusGroupODR","visible":"true","disabled":"false"},{"id":"dbbc6dd8de31c846","type":"ui-group","name":"vibrationPlusACCGroup_x","page":"0c7341728de5e004","width":"4","height":"1","order":6,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"7bce74f6ddaf5df0","type":"ui-group","name":"vibrationPlusBattery","page":"0c7341728de5e004","width":"5","height":"1","order":5,"showTitle":false,"className":"vibrationPlusGroupTempBatt","visible":"true","disabled":"false"},{"id":"06a5c0f9ef44037b","type":"ui-group","name":"vibrationPlusVelDisplGroup_x","page":"0c7341728de5e004","width":"4","height":"1","order":7,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"7f95312d21e8cce2","type":"ui-group","name":"vibrationPlusOneTwoThreeGroup_x","page":"0c7341728de5e004","width":"4","height":"1","order":8,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"578fa6eb8fb8d3a2","type":"ui-group","name":"vibrationPlusACCGroup_y","page":"0c7341728de5e004","width":"4","height":"1","order":9,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"40809daecc6f58c9","type":"ui-group","name":"vibrationPlusVelDisplGroup_y","page":"0c7341728de5e004","width":"4","height":"1","order":10,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"f00f7903643ff90f","type":"ui-group","name":"vibrationPlusOneTwoThreeGroup_y","page":"0c7341728de5e004","width":"4","height":"1","order":11,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"e3aafa58f59f702a","type":"ui-group","name":"vibrationPlusACCGroup_z","page":"0c7341728de5e004","width":"4","height":"1","order":12,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"5e5a4a35471bba91","type":"ui-group","name":"vibrationPlusVelDisplGroup_z","page":"0c7341728de5e004","width":"4","height":"1","order":13,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"5de99fb878b30612","type":"ui-group","name":"vibrationPlusOneTwoThreeGroup_z","page":"0c7341728de5e004","width":"4","height":"1","order":14,"showTitle":false,"className":"vpGroupsCharts","visible":"true","disabled":"false"},{"id":"60f4e9445cc08fb7","type":"ui-group","name":"vibrationPlusInspect2","page":"0c7341728de5e004","width":"4","height":"1","order":16,"showTitle":false,"className":"vpInspectGroup","visible":"true","disabled":"false"},{"id":"0c7341728de5e004","type":"ui-page","name":"ncd-vibration-plus","ui":"ec459411017ddf37","path":"/vibrationplus","icon":"mdi-waveform","layout":"grid","theme":"e01eadf35316cb83","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"902ac52103afa4b5","type":"ui-group","name":"vibrationPlusDownload","page":"0c7341728de5e004","width":"6","height":"1","order":2,"showTitle":false,"className":"vpGrupoDownload","visible":"true","disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"08e805ebf54044c8","type":"subflow:043195e570c9684d","z":"0f850dc8977c3d53","name":"","x":1270,"y":3380,"wires":[]}]
